
@{
    ViewBag.Title = "社區訊息";
    ViewBag.BodyClass = "News";
    ViewBag.breadCrumb = "社區訊息";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {

}

<h1 class="title-underline-d">
    @ViewBag.breadCrumb
    <small class="block">NEWS</small>
</h1>