
@{
    ViewBag.Title = "社區訊息";
    ViewBag.BodyClass = "News";
    ViewBag.breadCrumb = "社區訊息";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {

}

<h1 class="title-underline-d">
    @ViewBag.breadCrumb
    <small class="block">NEWS</small>
</h1>

<ul class="news-list list-inline">
    <li class="activity">
        <header>
            2016 / 6 / 18
            <span class="label float-r">活動</span>
        </header>
        @* 最多 42 個字，超過加... *@
        <a href="~/News/Content" class="block">社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息...</a>
        <a href="~/News/Content" class="btn btn-white font-sp">MORE</a>
    </li>
    <li class="public swiper-slide">
        <header>
            2016 / 6 / 18
            <span class="label float-r">公告</span>
        </header>
        <a href="~/News/Content" class="block">社區重大公告訊息社區重大公告訊息社區重大公告訊息社區重大公告訊息...</a>
        <a href="~/News/Content" class="btn btn-white font-sp">MORE</a>
    </li>
    <li class="info swiper-slide">
        <header>
            2016 / 6 / 18
            <span class="label float-r">資訊</span>
        </header>
        <a href="~/News/Content" class="block">系統訊息系統訊息系統訊息系統訊息系統訊息系統訊息系統訊息系統訊息系統訊息系統訊息系統訊息系統訊息...</a>
        <a href="~/News/Content" class="btn btn-white font-sp">MORE</a>
    </li>
    <li class="activity swiper-slide">
        <header>
            2016 / 6 / 18
            <span class="label float-r">活動</span>
        </header>
        <a href="~/News/Content" class="block">社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息...</a>
        <a href="~/News/Content" class="btn btn-white font-sp">MORE</a>
    </li>
    <li class="activity swiper-slide">
        <header>
            2016 / 6 / 18
            <span class="label float-r">活動</span>
        </header>
        <a href="~/News/Content" class="block">社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息...</a>
        <a href="~/News/Content" class="btn btn-white font-sp">MORE</a>
    </li>
    <li class="activity swiper-slide">
        <header>
            2016 / 6 / 18
            <span class="label float-r">活動</span>
        </header>
        <a href="~/News/Content" class="block">社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息...</a>
        <a href="~/News/Content" class="btn btn-white font-sp">MORE</a>
    </li>
    <li class="activity swiper-slide">
        <header>
            2016 / 6 / 18
            <span class="label float-r">活動</span>
        </header>
        <a href="~/News/Content" class="block">社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息...</a>
        <a href="~/News/Content" class="btn btn-white font-sp">MORE</a>
    </li>
</ul>