@charset "UTF-8";

$breadcrumb-color:          #4d4d4d;
$breadcrumb-font-size:      17px;

$breadcrumb-link:           $brand-primary $brand-secondary; // normal hover
$breadcrumb-link-font-size: 14px;


//
// breadcrumb
// --------------------------------------------------

.breadcrumb {
    @extend %list-inline, .text-left;

    font-size: em($breadcrumb-font-size);
    color: $breadcrumb-color;
    line-height: 1.65;
    border-bottom: 1px solid #CACACA;
    padding-bottom: $gutter;
    margin-top: $spacer*1.8;
    margin-bottom: $spacer*3;

    // 住戶首頁隱藏
    .Notice & { display: none; }

    li {
        vertical-align: middle;

        &:not(:last-child) {
            margin-right: 8px;

            @include el(after, false, '/') {
                margin-left: 3px;
                color: lighten(nth($breadcrumb-link,1),10);
                font-size: em(13);
            }
        }
        &:first-child { font-size: em(19); }
    }

    a {
        color: nth($breadcrumb-link,1);
        font-size: em($breadcrumb-link-font-size,$breadcrumb-font-size);

        &:hover, &:active { color: nth($breadcrumb-link,2); }
    }
}