@charset "UTF-8";

// common - extend的內容 寫在 base/util
// ------------------------------------------------------------
.clearfix      { @extend %clearfix; }
.circle        { @extend %circle; } // 圓形
.full          { @extend %full; }
.half          { @extend %half; }

.float-l       { float: left; }
.float-r       { float: right; }
.clear         { clear: both;  }

.hidden        { display: none; }
.text-hide     { @extend %text-hide; }
.sr-only       { @extend %sr-only; }

.img-center    { display: block; margin: auto; }

.margin        { margin: $gutter; }
.margin-top    { margin-top: $gutter; }
.margin-bottom { margin-bottom: $gutter; }
.margin-left   { margin-left: $gutter; }
.margin-right  { margin-right: $gutter; }

.padding-tiny  { padding: $gutter/8 $gutter/4; }     // 2px 4px
.padding-sm    { padding: $gutter/4 $gutter/2; }     // 4px 8px
.padding,
.padding-md    { padding: $gutter/2 $gutter; }       // 8px 16px
.padding-lg    { padding: $gutter*.75 $gutter*1.5; } // 12px 24px
.padding-xl    { padding: $gutter $gutter*2; }       // 16px 32px
.padding-jumbo { padding: $gutter*2 $gutter*4; }     // 32px 64px

.padding-2 {
    padding-top: $gutter/8;
    padding-bottom: $gutter/8;
}
.padding-4 {
    padding-top: $gutter/4;
    padding-bottom: $gutter/4;
}
.padding-8 {
    padding-top: $gutter/2;
    padding-bottom: $gutter/2;
}
.padding-12 {
    padding-top: $gutter*.75;
    padding-bottom: $gutter*.75;
}
.padding-16 {
    padding-top: $gutter;
    padding-bottom: $gutter;
}
.padding-24 {
    padding-top: $gutter*1.5;
    padding-bottom: $gutter*1.5;
}
.padding-32 {
    padding-top: $gutter*2;
    padding-bottom: $gutter*2;
}
.padding-48 {
    padding-top: $gutter*3;
    padding-bottom: $gutter*3;
}
.padding-64 {
    padding-top: $gutter*4;
    padding-bottom: $gutter*4;
}

.padding-0 { padding: 0 !important; }
.margin-0  { margin: 0 !important; }

// svg icon https://linearicons.com/free
// .lnr {
//     display: inline-block;
//     fill: currentColor;
//     width: 1em;
//     height: 1em;
//     vertical-align: -0.05em;
//     font-size: 1em;
// }

.arrow {
    @include icon-arrow(right, 5px, $brand-primary, left 18px top 50%) {
        margin-top: -6px;
        z-index: z(sidebar) + 3;
    }
}

.line-dot {
    margin: $spacer 0;
    height: 1px;
    background: url(#{$img-path}/dot.gif) 0 bottom repeat-x;
}
hr.line-dot { border-top: none; }


// text
// ------------------------------------------------------------
.font-tiny  { font-size: $font-size-xs; }  // 13px
.font-sm    { font-size: $font-size-sm; }  // 14px
.font-md    { font-size: rem(15); }
.font-lg    { font-size: $font-size-lg; }  // 20px
.font-xl    { font-size: rem(27); }
.font-xxl   { font-size: rem(40); }
.font-xxxl  { font-size: rem(48); }
.font-jumbo { font-size: rem(65); }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.title-underline {
    border-bottom: 1px solid $muted;
    padding-bottom: $spacer/1.5;
    position: relative;

    @include el(after) {
        height: 2px;
        width: 20%;
        background: $brand-primary;
        @include absolute(left 0 bottom -1px);
    }
}
.title-underline-d {
    small {
        @extend .font-sp, .font-md;

        display: block;
        letter-spacing: 8px;
        margin-top: 10px;

        @include el(all, inline-block, url('#{$img-path}/line.gif')) {
            position: relative;
            top: -4px;
        }

        &::before { margin-right: 10px; }
        &::after { margin-left: 10px; }
    }
}



// 情境: var.scss> $states: true
// ------------------------------------------------------------
@if $states {

    .text-white { color: $white; }
    .bg-white   { background: $white; }

    @each $type, $color in $state-type {
        .text-#{$type} { color: darken($color,5); }
        .bg-#{$type}   { background: $color; }
    }
}


// RWD
// ------------------------------------------------------------
@if $enable-RWD {
    .mobile-hide {
        @include mq-max(break(desktop,-1)) {
            display: none;
            visibility: hidden;
        }
    }
}