@charset "UTF-8";

// navbar style
$navbar-height:       50px !default;
$navbar-bg:           false !default; //#2AA19D

// nav style
$nav-height:          full !default;
$nav-font-size:       17px !default;
$nav-color:           white !default;

// nav active
$nav-active-bg:       $success !default; //darken($brand-secondary,5)
$nav-active-color:    false !default;


// 當前選單
$current:             page('&:nth-child');

// 行動選單(mobile-trigger)
$mobile-menu-bk:      'desktop' !default;     // 從()螢幕寬度以下開始出現行動版選單
$mobile-menu-bg:      #424242 !default;
$mobile-menu-style:   'overlay' !default;
$mobile-menu-width:   100% !default;


// 主選單
.navbar {
    @if $navbar-height { height: $navbar-height }
    @if $navbar-bg     { background: $navbar-bg }
}

#menu {
    z-index: z(menu);

    // 本次專案
    @extend %list-unstyled, .clear;
    margin-right: 15%;

    li {
        @extend .float-l;
        width: percentage(1/length($menu-item));

        // 子選單顯示
        &:hover, &:active {

            .sub-nav {
                opacity: 1;
                visibility: visible;
                min-height: 150px;
            }
        }
    }

    // 有下拉選單的加箭頭
    .caret {
        position: relative;

        @include el(before) {
            @include arrow(up, 10px, 7px, #fff);
            @include pos-center(x);
            @include transition(opacity .5s, bottom .3s);
            opacity: 0;
            bottom: -8px;
        }
    }
    .root {
        @if $nav-color     { color: $nav-color; }
        @if $nav-font-size { font-size: em($nav-font-size); }

        @if ($nav-height == full) {
            height: 100%;
            @include text-middle($navbar-height);
        }
        @else {
            height: $nav-height;
        }

        // 本次專案
        @extend %block;
        letter-spacing: 1px;

        &:hover, &:active, &.current {
            @if $nav-active-bg    { background: $nav-active-bg; }
            @if $nav-active-color { color:$nav-active-color; }
        }
        &:hover, &:active {
            &::before {
                opacity: 1;
                bottom: 0;
            }
        }
    }

    @if $enable-RWD {
        @include mq-max(break(#{$mobile-menu-bk},-1)) {
            @include fixed(top 0);
            overflow-y: auto;
            z-index: z(overlay);

            background: $mobile-menu-bg;
            width: $mobile-menu-width;
            height: 100%;

            // 本次專案
            margin-top: 0;

            // 推拉樣式
            @if $mobile-menu-style == 'push' {
                @extend .text-left;
                left: -$mobile-menu-width;
                // text-align: left;

                @include transition(left .35s);

                .push & { left: 0; }

                li {
                    border-bottom: 1px solid lighten($mobile-menu-bg,5);
                    width: 100%;
                }
                .root {
                    color: #fff;
                    font-size: em(18px);
                    padding: $gutter/2 $gutter;
                }
            }

            // 全版樣式
            @else if $mobile-menu-style == 'overlay' {
                overflow-x: hidden;
                visibility: hidden;
                top: -50%;
                left: 0;
                opacity: 0;
                padding: 3% 0;

                @include transition(top .5s, opacity 1s);

                .overlay & {
                    top: 0;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}

// 第二層選單
.sub-nav {
    @extend %block, .text-left;
    opacity: 0;
    visibility: hidden;

    // 本次專案
    background: #fff;
    height: 0;

    // @include fixed(top 174px left 0 right 0);
    @include absolute(top 174px left 0 right 0);
    @include transition(opacity .4s, height .3s);

    a {
        @extend %inline-block;

        width: 28%;
        min-width: 290px;
        margin: $spacer*.35 0;

        color: #4d4d4d;
        letter-spacing: 1px;

        @include el(before, inline, '．');

        &:hover, &:active {
            @extend .text-primary;
        }
    }

    dl { padding: $gutter*1.75 $gutter*3.4; }
    dt { @extend .margin-right; }

    @if $enable-RWD {
        @include mq-max(break(#{$mobile-menu-bk},-1)) {
            display: none;
            opacity: 1;
            visibility: visible;
            transform: none;
            position: static;
            top: 100%;
            max-width: 100%;

            background: darken($mobile-menu-bg,10);
            box-shadow: inset 3px 6px 15px rgba(#000,.5);
            // padding-top: $gutter - 4;
            // padding-bottom: $gutter - 4;

            a {
                @extend .text-white;

                padding: ($gutter - 4) $gutter+6;
                color: $white;

                &:hover, &:active {
                    @extend .bg-primary;
                    // background: $brand-primary;
                }
            }
        }
    }
}