@charset "UTF-8";
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit;
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template, [hidden] {
  display: none; }

/*      basic elements - reboot
-----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, figure, blockquote, pre {
  margin-top: 0; }

html, body {
  text-align: center;
  height: 100%; }

html {
  box-sizing: border-box;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent; }

*,
*::before,
*::after {
  box-sizing: inherit; }

@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-webkit-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
body {
  font-family: \5FAE\8EDF\6B63\9ED1\9AD4, "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #595959;
  background: #F6F6EA;
  -webkit-font-smoothing: antialiased; }

[tabindex="-1"]:focus {
  outline: none !important; }

a {
  color: #76A22E;
  text-decoration: none;
  blur: expression(this.onFocus=this.blur());
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  a:hover, a:active, a.active {
    color: #2AA19C; }

img {
  vertical-align: middle; }

.font-sp, .title-underline-d small {
  font-family: "Quicksand", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.1;
  color: #2DADA8; }

h1 {
  font-size: 2.625em; }

h2 {
  font-size: 2.1875em; }

h3 {
  font-size: 1.875em; }

h4 {
  font-size: 1.5625em; }

h5 {
  font-size: 1.3125em; }

h6 {
  font-size: 1.0625em; }

.lead {
  font-size: 1.25rem;
  font-weight: 300; }

strong {
  font-size: 1.0625em;
  color: #76A22E; }

small {
  font-size: 80%;
  font-weight: normal; }

mark {
  background-color: #efeab3;
  padding: .2em; }

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #F1F1F1; }

p + p {
  margin-top: 1rem; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #b0b0b0; }

blockquote {
  margin: 0 0 1rem; }

pre {
  margin-top: 0;
  margin-bottom: 1rem; }

button,
[role="button"] {
  cursor: pointer; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

ol, ul, dl {
  padding: 0;
  margin: 0 0 1rem; }

ol ol, ol ul, ul ol, ul ul {
  margin-left: 1rem;
  margin-bottom: 0.5rem; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

/*      table
-----------------------------------------------------------------------*/
table {
  border-collapse: collapse;
  margin-bottom: 1rem;
  border-bottom: 1px solid #bfde8b;
  min-width: 60%;
  margin: auto; }
  table.fixed {
    table-layout: fixed;
    word-wrap: break-word;
    word-break: break-all; }

tbody + tbody {
  border-top: 2px solid #bfde8b; }

th, td {
  text-align: center;
  vertical-align: middle;
  padding: 8px;
  border-top: 1px solid #bfde8b; }

th {
  color: #fff;
  background: #349793; }

td.item {
  background: #f3f3e3; }

.table-bordered {
  border: 1px solid #97c95d; }
  .table-bordered th, .table-bordered td {
    border: 1px solid #97c95d; }
  .table-bordered thead th, .table-bordered thead td {
    border-bottom-width: 2px; }
  .table-bordered tbody + tbody {
    border-width: 0; }

.table-hover tbody:hover td[rowspan],
.table-hover tr:hover td {
  background-color: #fff; }

.block, .img-center {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.list-data, .list-data dt, .float-l {
  float: left; }

.float-r {
  float: right; }

.clearfix::after {
  display: table;
  clear: both; }
  .clearfix::after, .title-underline::after {
    content: ''; }

.circle {
  border-radius: 50%; }

.full {
  width: 100%;
  max-width: 100%; }

.half {
  width: 49.5%; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.list-inline, .news-list, .list-unstyled {
  list-style: none; }

.list-inline > li, .news-list > li {
  display: inline-block; }
  .list-inline > li:not(:last-child), .news-list > li:not(:last-child) {
    margin-right: 5px; }

.news-list li {
  border-radius: 10px 0 10px 0;
  box-shadow: 0 0 10px #bfbfbf;
  position: relative;
  vertical-align: top;
  width: 245px;
  height: 273px;
  margin: 0 22px 1.5rem 22px; }
.news-list header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
.news-list .block {
  margin: 0.8rem 0;
  letter-spacing: 1px; }
  .news-list .block:hover, .news-list .block:active {
    color: #e6de89; }
.news-list .label {
  margin-right: -5px; }
.news-list .btn {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 8px 30px;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 28px; }

.list-underline > li, .list-num > li {
  font-size: 1.0625em; }
.list-underline ol, .list-underline ul, .list-num ol, .list-num ul {
  margin-top: 0.35rem; }

.list-underline > li:not(:last-child) {
  border-bottom: 1px dashed #92c73c; }

.list-indent {
  padding-left: 0;
  margin-bottom: 2rem; }
  .list-indent > li {
    text-indent: -3.1875em;
    padding-left: 3.1875em;
    line-height: 1.7; }
  .list-indent ol, .list-indent ul {
    text-indent: -2em;
    margin-left: 32px; }

.list-num {
  padding-left: 28px;
  list-style-type: cjk-ideographic; }
  .list-num ol ol {
    list-style-type: lower-latin; }
  .list-num ol ol ol {
    list-style-type: initial; }

.list-data {
  width: 32.5%; }
  .list-data:not(:nth-child(3n)) {
    margin-right: 1%; }
  .list-data dt {
    font-weight: normal;
    width: 100px;
    background: #ffffcd;
    color: #6e6300;
    border-right: 1px solid #f0f100; }
  .list-data dd {
    overflow: hidden; }

.clear {
  clear: both; }

.img-center {
  margin: auto; }

.margin {
  margin: 16px; }

.margin-top {
  margin-top: 16px; }

.margin-bottom {
  margin-bottom: 16px; }

.margin-left {
  margin-left: 16px; }

.margin-right {
  margin-right: 16px; }

.section {
  margin-top: 16px;
  margin-bottom: 16px; }

.padding-tiny {
  padding: 2px 4px; }

.padding-sm, .list-data dt, .list-data dd {
  padding: 4px 8px; }

.padding, .news-list header, .news-list .block,
.padding-md {
  padding: 8px 16px; }

.padding-lg {
  padding: 12px 24px; }

.padding-xl {
  padding: 16px 32px; }

.padding-xxl {
  padding: 24px 48px; }

.padding-jumbo {
  padding: 32px 64px; }

.padding-2 {
  padding-top: 2px;
  padding-bottom: 2px; }

.padding-4 {
  padding-top: 4px;
  padding-bottom: 4px; }

.padding-8 {
  padding-top: 8px;
  padding-bottom: 8px; }

.padding-12, .news-list header, .list-underline > li, caption {
  padding-top: 12px;
  padding-bottom: 12px; }

.padding-16 {
  padding-top: 16px;
  padding-bottom: 16px; }

.padding-24 {
  padding-top: 24px;
  padding-bottom: 24px; }

.padding-32 {
  padding-top: 32px;
  padding-bottom: 32px; }

.padding-48 {
  padding-top: 48px;
  padding-bottom: 48px; }

.padding-64 {
  padding-top: 64px;
  padding-bottom: 64px; }

.padding-0 {
  padding: 0; }

.margin-0 {
  margin: 0; }

.text-left, .news-list header, .news-list .block, body {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.title-underline {
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: 0.66667rem;
  position: relative; }
  .title-underline::after {
    display: block;
    height: 2px;
    width: 20%;
    background: #92C734;
    position: absolute;
    bottom: -1px;
    left: 0; }

.title-underline-d small {
  margin-top: 13px;
  color: #b0b0b0;
  letter-spacing: 8px;
  text-transform: uppercase; }
  .title-underline-d small::before, .title-underline-d small::after {
    content: url("../images/line.gif");
    display: inline-block;
    position: relative;
    top: -4px; }
  .title-underline-d small::before {
    margin-right: 10px; }
  .title-underline-d small::after {
    margin-left: 10px; }

.leading {
  margin-top: 1.2rem;
  margin-bottom: 2.2rem; }

.font-tiny {
  font-size: 0.8125rem; }

.font-sm {
  font-size: 0.9375rem; }

.font-md, .list-underline ol, .list-underline ul, .list-num ol, .list-num ul, .title-underline-d small {
  font-size: 1rem; }

.font-lg, .list-data {
  font-size: 1.1875rem; }

.font-xl, caption {
  font-size: 1.5625rem; }

.font-xxl {
  font-size: 2.3125rem; }

.font-xxxl {
  font-size: 3rem; }

.font-jumbo {
  font-size: 4.0625rem; }

.text-white, .news-list li, .news-list .block, .news-list .btn {
  color: #fff; }

.bg-white, .news-list .label, .news-list .btn:hover, .news-list .btn:active, .list-data {
  background: #fff; }

.text-primary, .sub-title, h4, caption {
  color: #688e28; }

.bg-primary {
  background: #76A22E; }

.text-secondary, .news-list .btn:hover, .news-list .btn:active {
  color: #258d88; }

.bg-secondary {
  background: #2AA19C; }

.text-muted {
  color: #a3a3a3; }

.bg-muted {
  background: #b0b0b0; }

.text-success, .news-list .activity .label {
  color: #83b32f; }

.bg-success, .news-list .activity {
  background: #92C734; }

.text-info, .news-list .info .label {
  color: #1e9bd1; }

.bg-info, .news-list .info {
  background: #29A9E0; }

.text-warning {
  color: #c6b929; }

.bg-warning {
  background: #D5C734; }

.text-danger, .news-list .public .label {
  color: #f14360; }

.bg-danger, .news-list .public {
  background: #F35B74; }

body {
  padding: 10px 15px;
  background: #F2EEE3; }

.sub-title, h4 {
  margin-bottom: 1.5rem; }

.sub-title {
  margin-top: 2.2rem; }

h5 {
  margin-top: 1rem;
  margin-bottom: 0.5rem; }

ul, ol {
  margin-left: 15px; }

ol:not(.list-unstyled, .list-num) {
  margin-left: 30px; }

table {
  min-width: 85%; }

td > ol {
  margin-bottom: 0; }
