@charset "UTF-8";
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit;
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template, [hidden] {
  display: none; }

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/*      basic elements - reboot
-----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, figure, blockquote, pre {
  margin-top: 0; }

p, ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0; }

html, body {
  text-align: center;
  height: 100%; }

html {
  box-sizing: border-box;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent; }

*,
*::before,
*::after {
  box-sizing: inherit; }

@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-webkit-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
body {
  font-family: \5FAE\8EDF\6B63\9ED1\9AD4, "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #666666;
  background: #F6F6EA;
  -webkit-font-smoothing: antialiased; }

[tabindex="-1"]:focus {
  outline: none !important; }

a {
  color: #76A22E;
  text-decoration: none;
  blur: expression(this.onFocus=this.blur());
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  a:hover, a:active, a.active {
    color: #29A09B; }

img {
  vertical-align: middle; }

.font-sp, .title-underline-d small {
  font-family: "Quicksand", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.1;
  color: #29A09B; }

h1 {
  font-size: 2.625em; }

h2 {
  font-size: 2.1875em; }

h3 {
  font-size: 1.875em; }

h4 {
  font-size: 1.5625em; }

h5 {
  font-size: 1.3125em; }

h6 {
  font-size: 1.0625em; }

.lead {
  font-size: 1.25rem;
  font-weight: 300; }

strong {
  font-size: 1.0625em;
  color: #76A22E; }

small {
  font-size: 80%;
  font-weight: normal; }

mark {
  background-color: #eff2a6;
  padding: .2em; }

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #F1F1F1; }

p {
  margin-bottom: 0; }
  p + p {
    margin-top: 1rem; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #b0b0b0; }

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: 0.5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

pre {
  margin-top: 0;
  margin-bottom: 1rem; }

button,
[role="button"] {
  cursor: pointer; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit;
  border-radius: 0; }

textarea {
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.5em;
  line-height: inherit; }

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell; }

[type="search"] {
  box-sizing: inherit;
  -webkit-appearance: none; }

output {
  display: inline-block; }

[hidden] {
  display: none !important; }

input, textarea, select, .form-element {
  background: none;
  line-height: 1.5;
  color: #858585;
  border: 1px solid #DFDFDF;
  padding: 5.44px 6px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  input:focus, textarea:focus, select:focus, .form-element:focus {
    border-color: #29A09B;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(41, 160, 155, 0.6); }
  input::-ms-expand, textarea::-ms-expand, select::-ms-expand, .form-element::-ms-expand {
    background-color: transparent;
    border: 0; }
  input::placeholder, textarea::placeholder, select::placeholder, .form-element::placeholder {
    color: #b8b8b8;
    opacity: 1; }
  input:disabled, input[readonly], textarea:disabled, textarea[readonly], select:disabled, select[readonly], .form-element:disabled, .form-element[readonly] {
    background-color: #b0b0b0;
    opacity: 1; }
  input:disabled, textarea:disabled, select:disabled, .form-element:disabled {
    cursor: not-allowed; }

.form-element {
  display: block;
  width: 100%;
  background: #fff;
  height: 38px; }

.form-element-label {
  padding: 5.44px 6px;
  line-height: 38px;
  margin-bottom: 0; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  [type="date"].form-element, [type="time"].form-element, [type="datetime-local"].form-element, [type="month"].form-element {
    line-height: 38px; } }
.form-element-static {
  min-height: 38px;
  padding-top: 5.44px;
  padding-bottom: 6px;
  margin-bottom: 0; }

.form-group {
  margin-bottom: 0.5rem; }

.input-inline {
  display: inline;
  width: auto;
  margin: 0 5.33333px;
  font-weight: normal; }
  .input-inline:first-child {
    margin-left: 0; }
  @media (max-width: 30em) {
    .input-inline {
      display: block;
      margin-left: 0; } }

[type="number"] {
  width: 80px; }

.input-size-sm {
  width: 80px; }

.input-size-md {
  width: 156px; }

.input-size-lg {
  width: 350px; }

.input-size-xl {
  width: 480px; }

.wrap::after, #header::after, #footer::after, #main::after, .input-group::after, .clearfix::after, .tabs::after {
  display: table;
  clear: both; }
  .wrap::after, #header::after, #footer::after, #main::after, .input-group::after, .clearfix::after, .tabs::after, .logo small::before, .logo small::after, .title-underline::after {
    content: ''; }

.circle, .info li {
  border-radius: 50%; }

.full {
  width: 100%;
  max-width: 100%; }

.half {
  width: 49.5%; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.info, .intro {
  list-style: none; }

.info > li {
  display: inline-block; }
  .info > li:not(:last-child) {
    margin-right: 5px; }

/*      layout
-----------------------------------------------------------------------*/
.wrap {
  max-width: 1400px;
  margin: 0 48px; }
  @media (min-width: 87.5em) {
    .wrap {
      margin: 0 auto; } }
  @media (max-width: 74.9375em) {
    .wrap {
      margin: 0;
      padding-left: 32px;
      padding-right: 32px; } }

.wrap, #header, #footer, #main {
  min-width: 1008px; }

#header, #footer, #main {
  position: relative; }

#wrapper {
  min-height: 100%;
  padding-bottom: 263px;
  background: url(../images/index/bg.jpg) no-repeat center 0;
  min-width: 1008px; }
  @media (min-width: 120.0625em) {
    #wrapper {
      background-size: cover; } }

#header {
  height: 735px;
  z-index: 1; }
  #header .wrap {
    position: relative;
    width: 980px;
    margin: auto; }

.logo {
  cursor: pointer;
  cursor: hand;
  z-index: 10;
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  letter-spacing: 4px; }
  #header .logo {
    position: absolute;
    top: 255px;
    left: 0;
    font-size: 4.0625em; }
  #footer .logo {
    font-size: 2.1875em;
    letter-spacing: 7px;
    width: 253px; }
  .logo small {
    display: block;
    position: relative;
    letter-spacing: 10px;
    color: #C7EC9B;
    font-size: 0.29231em;
    margin-top: 1.5rem; }
    .logo small::before, .logo small::after {
      display: block;
      position: absolute;
      top: 50%;
      height: 1px;
      width: 18%;
      background: #fff; }
    .logo small::after {
      right: 5px; }
    #footer .logo small {
      font-size: 0.42857em;
      color: #D7DE21;
      letter-spacing: 7px;
      margin-top: 0.8rem; }
      #footer .logo small::after, #footer .logo small::before {
        background: #666666;
        width: 11%; }

#footer {
  background: #27343D;
  min-height: 263px;
  margin-top: -263px;
  z-index: 5;
  color: #E3E3E3;
  padding-top: 40px;
  padding-bottom: 40px; }
  #footer .title-underline {
    border-color: #666666;
    font-size: 1.8125em;
    margin-bottom: 1.35rem; }
    #footer .title-underline::after {
      background: #D7DE21; }
  #footer section:not(:first-child) {
    padding-left: 24px;
    padding-right: 24px; }
  #footer section:last-child {
    padding-right: 0; }
  #footer section:first-child {
    padding-top: 20.8px; }
  #footer a:hover, #footer a:active {
    color: #76A22E; }

.copyright {
  color: #7F7F7F;
  font-size: 0.75em;
  letter-spacing: 1px;
  margin-top: 1.6rem; }

.social a {
  font-size: 2.5em;
  color: #7F7F7F; }
  .social a:first-child {
    margin-right: 10px; }

.foot-contact .font-xl {
  letter-spacing: 3px; }
.foot-contact p + p {
  margin-top: 0.5rem; }
.foot-contact a {
  color: #E3E3E3; }

.foot-partner a {
  display: block;
  color: #D7DE21;
  margin-bottom: 0.5rem; }

.goTop, .goTop:hover, .goTop:active {
  color: #fff !important; }

.goTop {
  z-index: 99;
  position: fixed;
  right: 2%;
  bottom: 2%;
  -webkit-transition: opacity .5s, background .35s;
  transition: opacity .5s, background .35s;
  opacity: 0;
  background: rgba(118, 162, 46, 0.65);
  font-size: 1.4375em;
  padding: 5px 10px;
  border-radius: 3px; }
  .goTop:hover, .goTop:active {
    background: #76A22E; }

.fadeIn {
  -webkit-animation: fadeIn 1s 1 forwards;
  animation: fadeIn 1s 1 forwards; }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.fadeOut {
  -webkit-animation: fadeOut 1s 1 forwards;
  animation: fadeOut 1s 1 forwards; }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
@keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
.card {
  background: rgba(255, 255, 255, 0.45);
  border: 1px solid #FEF8CC;
  border-radius: 1px; }

button {
  border: none; }

.btn {
  display: inline-block;
  padding: 12px 40px;
  border-radius: 3px;
  font-size: 18px;
  line-height: 1.01;
  background: #76A22E;
  color: #fff;
  -webkit-transition: background .35s, color .5s;
  transition: background .35s, color .5s;
  letter-spacing: 1px; }
  .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 1px solid;
    outline: 1px solid #5ad5d0;
    outline-offset: 0; }
  .btn:active, .btn.active {
    outline: 0; }
  .btn:hover, .btn:active, .btn.active, .btn:focus, .btn.focus {
    background: #29A09B;
    color: #fff; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65;
    background-color: #b0b0b0; }

.btn-white {
  background: #fff;
  color: #29A09B;
  border: 1px solid #29A09B; }
  .btn-white:hover, .btn-white:active {
    background: #33c9c2;
    border-color: #46d0ca;
    color: #fff; }

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 100%;
  margin: 0 auto 1rem auto;
  height: 38px;
  border: 1px solid #DFDFDF; }
  .input-group input {
    width: 100%;
    border: none; }

.input-group input,
.input-group-addon {
  display: table-cell;
  vertical-align: top; }
  .input-group input:not(:first-child):not(:last-child),
  .input-group-addon:not(:first-child):not(:last-child) {
    border-radius: 0; }

.input-group-addon {
  width: 1%;
  height: 100%;
  line-height: 38px;
  white-space: nowrap;
  padding: 0 8px;
  height: 100%;
  color: #B0B0B0;
  background: #ECECEC; }

.float-l {
  float: left; }

.float-r {
  float: right; }

.clear {
  clear: both; }

.hidden {
  display: none; }

.block {
  display: block; }

.img-center {
  display: block;
  margin: auto; }

.margin {
  margin: 16px; }

.margin-top {
  margin-top: 16px; }

.margin-bottom {
  margin-bottom: 16px; }

.margin-left {
  margin-left: 16px; }

.margin-right {
  margin-right: 16px; }

.padding-tiny {
  padding: 2px 4px; }

.padding-sm {
  padding: 4px 8px; }

.padding,
.padding-md {
  padding: 8px 16px; }

.padding-lg, .card {
  padding: 12px 24px; }

.padding-xl {
  padding: 16px 32px; }

.padding-jumbo {
  padding: 32px 64px; }

.padding-2 {
  padding-top: 2px;
  padding-bottom: 2px; }

.padding-4 {
  padding-top: 4px;
  padding-bottom: 4px; }

.padding-8 {
  padding-top: 8px;
  padding-bottom: 8px; }

.padding-12 {
  padding-top: 12px;
  padding-bottom: 12px; }

.padding-16 {
  padding-top: 16px;
  padding-bottom: 16px; }

.padding-24, .card {
  padding-top: 24px;
  padding-bottom: 24px; }

.padding-32 {
  padding-top: 32px;
  padding-bottom: 32px; }

.padding-48 {
  padding-top: 48px;
  padding-bottom: 48px; }

.padding-64 {
  padding-top: 64px;
  padding-bottom: 64px; }

.padding-0 {
  padding: 0 !important; }

.margin-0, .info {
  margin: 0 !important; }

.text-left, #footer, .intro, .card {
  text-align: left; }

.text-right, .slogan {
  text-align: right; }

.text-center {
  text-align: center; }

.title-underline {
  border-bottom: 1px solid #b0b0b0;
  padding-bottom: 0.66667rem;
  position: relative; }
  .title-underline::after {
    display: block;
    height: 2px;
    width: 20%;
    background: #76A22E;
    position: absolute;
    bottom: -1px;
    left: 0; }

.title-underline-d small {
  margin-top: 13px;
  color: #b0b0b0;
  letter-spacing: 8px;
  text-transform: uppercase; }
  .title-underline-d small::before, .title-underline-d small::after {
    content: url("../images/line.gif");
    display: inline-block;
    position: relative;
    top: -4px; }
  .title-underline-d small::before {
    margin-right: 10px; }
  .title-underline-d small::after {
    margin-left: 10px; }

.font-tiny {
  font-size: 0.8125rem; }

.font-sm {
  font-size: 0.9375rem; }

.font-md, .title-underline-d small {
  font-size: 1rem; }

.font-lg {
  font-size: 1.25rem; }

.font-xl {
  font-size: 1.5625rem; }

.font-xxl {
  font-size: 2.3125rem; }

.font-xxxl, .about h2 {
  font-size: 3rem; }

.font-jumbo {
  font-size: 4.0625rem; }

.text-white, #footer .title-underline, .top-nav a, .intro, .about h2 {
  color: #fff; }

.bg-white {
  background: #fff; }

.text-primary {
  color: #688e28; }

.bg-primary {
  background: #76A22E; }

.text-secondary {
  color: #248c87; }

.bg-secondary {
  background: #29A09B; }

.text-muted {
  color: #a3a3a3; }

.bg-muted {
  background: #b0b0b0; }

.text-success {
  color: #83b32f; }

.bg-success {
  background: #92C734; }

.text-info, .login .text-right a, .login .slogan a {
  color: #1e9bd1; }

.bg-info {
  background: #29A9E0; }

.text-warning {
  color: #c1c81e; }

.bg-warning {
  background: #D7DE21; }

.text-danger {
  color: #f14360; }

.bg-danger {
  background: #F35B74; }

.login {
  border-top: 3px solid #29A9E0;
  border-radius: 3px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 185px;
  width: 54.5%; }
  .login main {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: rgba(255, 255, 255, 0.6);
    padding: 42px; }
  .login .input-group {
    margin-bottom: 1.36rem; }
  .login .input-group-addon {
    font-size: 1.25em; }
  .login .btn {
    margin-bottom: 1.2rem; }
  .login .text-right a:hover, .login .slogan a:hover, .login .text-right a:active, .login .slogan a:active {
    color: #76A22E; }

.tabs {
  background: rgba(236, 236, 236, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06); }

.js-tab {
  display: block;
  float: left;
  padding: 20px 42px 13px;
  font-size: 1.25em;
  color: #656565; }
  .js-tab.active {
    color: #1b8bbb;
    background: rgba(255, 255, 255, 0.25);
    position: relative;
    bottom: -1px;
    border-bottom: 1px solid #E9E9E1;
    border-right: 1px solid rgba(0, 0, 0, 0.06); }
    .js-tab.active:not(:first-child) {
      border-left: 1px solid rgba(0, 0, 0, 0.06); }

.top-nav {
  position: absolute;
  top: 12px;
  right: 0;
  background: url(../images/top-navBg.gif) right 0 no-repeat;
  line-height: 30px; }
  .top-nav a {
    font-size: 1.4375em;
    z-index: 11; }
    .top-nav a:not(:first-child) {
      margin-left: 12px; }
    .top-nav a:hover, .top-nav a:active {
      color: #76A22E; }

.slogan {
  font-size: 3.25em;
  color: #fff;
  letter-spacing: 2px;
  position: absolute;
  top: 198px;
  left: 125px; }

.intro {
  position: absolute;
  top: 378px;
  left: 0;
  font-size: 1.1875em;
  letter-spacing: 1px; }
  .intro li {
    margin: 9px 0; }

.info, .about {
  background-image: url(../images/index/contentBg.png);
  background-size: cover;
  background-repeat: repeat; }

.info {
  background-color: rgba(29, 42, 42, 0.75);
  padding-bottom: 60px; }
  .info li {
    width: 237px;
    height: 237px;
    margin: 0 40px;
    margin-top: -60px;
    padding-top: 130px;
    font-size: 2.25em;
    color: #76A22E;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px #D9DFCC;
    background: #FFFFEF url(../images/index/info-img.gif) 50px 15px no-repeat; }
    .info li:nth-child(2) {
      background-position: -150px 16px; }
    .info li:nth-child(3) {
      background-position: -345px 20px; }
    .info li:nth-child(4) {
      background-position: -535px 15px; }

.about {
  background-color: #76A22E;
  background-position: center bottom;
  padding: 60px; }
  .about h2 {
    margin-top: 0; }
  .about h6 {
    color: #CEECAB;
    font-size: 1.0625em;
    letter-spacing: 1px; }

.card {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  min-height: 207px;
  margin: 0 1.2%;
  margin-top: 2rem;
  color: #442E1F; }
  .card h3 {
    color: #19441C;
    font-size: 1.4375em;
    text-shadow: 1px 1px 1px #E9F391; }
  .card p {
    font-size: 1.0625em;
    line-height: 1.75; }
