@charset "UTF-8";
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit;
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template, [hidden] {
  display: none; }

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/*      basic elements - reboot
-----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, figure, blockquote, pre {
  margin-top: 0; }

html, body {
  text-align: center;
  height: 100%; }

html {
  box-sizing: border-box;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent; }

*,
*::before,
*::after {
  box-sizing: inherit; }

@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-webkit-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
body {
  font-family: \5FAE\8EDF\6B63\9ED1\9AD4, "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #595959;
  background: #F6F6EA;
  -webkit-font-smoothing: antialiased; }

[tabindex="-1"]:focus {
  outline: none !important; }

a {
  color: #76A22E;
  text-decoration: none;
  blur: expression(this.onFocus=this.blur());
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  a:hover, a:active, a.active {
    color: #2AA19C; }

img {
  vertical-align: middle; }

.font-sp, .title-underline-d small {
  font-family: "Quicksand", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.1;
  color: #2DADA8; }

h1 {
  font-size: 2.625em; }

h2 {
  font-size: 2.1875em; }

h3 {
  font-size: 1.875em; }

h4 {
  font-size: 1.5625em; }

h5 {
  font-size: 1.3125em; }

h6 {
  font-size: 1.0625em; }

.lead {
  font-size: 1.25rem;
  font-weight: 300; }

strong {
  font-size: 1.0625em;
  color: #76A22E; }

small {
  font-size: 80%;
  font-weight: normal; }

mark {
  background-color: #efeab3;
  padding: .2em; }

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #F1F1F1; }

p + p {
  margin-top: 1rem; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #b0b0b0; }

blockquote {
  margin: 0 0 1rem; }

pre {
  margin-top: 0;
  margin-bottom: 1rem; }

button,
[role="button"] {
  cursor: pointer; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

ol, ul, dl {
  padding: 0;
  margin: 0 0 1rem; }

ol ol, ol ul, ul ol, ul ul {
  margin-left: 1rem;
  margin-bottom: 0.5rem; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: 0.5rem;
  margin-left: 0; }

/*      table
-----------------------------------------------------------------------*/
table {
  border-collapse: collapse;
  margin-bottom: 1rem;
  border-bottom: 1px solid #bfde8b;
  min-width: 60%;
  margin: auto; }
  table.fixed {
    table-layout: fixed;
    word-wrap: break-word;
    word-break: break-all; }

tbody + tbody {
  border-top: 2px solid #bfde8b; }

th, td {
  text-align: center;
  vertical-align: middle;
  padding: 8px;
  border-top: 1px solid #bfde8b; }

th {
  color: #fff;
  background: #349793; }

td.item {
  background: #f3f3e3; }

.table-bordered {
  border: 1px solid #97c95d; }
  .table-bordered th, .table-bordered td {
    border: 1px solid #97c95d; }
  .table-bordered thead th, .table-bordered thead td {
    border-bottom-width: 2px; }
  .table-bordered tbody + tbody {
    border-width: 0; }

.table-hover tbody:hover td[rowspan],
.table-hover tr:hover td {
  background-color: #fff; }

label {
  margin-bottom: 0.5rem; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit;
  border-radius: 0; }

textarea {
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  width: 100%;
  font-size: 1.5em;
  line-height: inherit; }

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell; }

[type="search"] {
  box-sizing: inherit;
  -webkit-appearance: none; }

input, textarea, select, .form-element, .comment-ask select, .comment-ask textarea {
  background: none;
  line-height: 1.5;
  color: #858585;
  border: 1px solid #DFDFDF;
  padding: 5.44px 6px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  input::-ms-expand, textarea::-ms-expand, select::-ms-expand, .form-element::-ms-expand, .comment-ask select::-ms-expand, .comment-ask textarea::-ms-expand {
    background-color: transparent;
    border: 0; }
  input::placeholder, textarea::placeholder, select::placeholder, .form-element::placeholder, .comment-ask select::placeholder, .comment-ask textarea::placeholder {
    color: #b8b8b8;
    opacity: 1; }
  input:disabled, input[readonly], textarea:disabled, textarea[readonly], select:disabled, select[readonly], .form-element:disabled, .comment-ask select:disabled, .comment-ask textarea:disabled, .form-element[readonly], .comment-ask select[readonly], .comment-ask textarea[readonly] {
    background-color: #b0b0b0;
    opacity: 1; }
  input:disabled, textarea:disabled, select:disabled, .form-element:disabled, .comment-ask select:disabled, .comment-ask textarea:disabled {
    cursor: not-allowed; }

.form-element, .comment-ask select, .comment-ask textarea {
  width: 100%;
  background: #fff;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .form-element:focus, .comment-ask select:focus, .comment-ask textarea:focus {
    border-color: #2AA19C;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 161, 156, 0.6); }

.form-element-label, .comment-ask label {
  padding: 5.44px 6px;
  line-height: 1.5;
  margin-bottom: 0; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  [type="date"].form-element, .comment-ask select[type="date"], .comment-ask textarea[type="date"], [type="time"].form-element, .comment-ask select[type="time"], .comment-ask textarea[type="time"], [type="datetime-local"].form-element, .comment-ask select[type="datetime-local"], .comment-ask textarea[type="datetime-local"], [type="month"].form-element, .comment-ask select[type="month"], .comment-ask textarea[type="month"] {
    line-height: false; } }
.form-element-static {
  padding-top: 5.44px;
  padding-bottom: 6px;
  margin-bottom: 0; }

.form-group {
  margin-bottom: 0.5rem; }

.input-inline {
  width: auto;
  margin: 0 5.33333px;
  font-weight: normal; }
  .input-inline:first-child {
    margin-left: 0; }
  @media (max-width: 30em) {
    .input-inline {
      display: block;
      margin-left: 0; } }

[type="number"] {
  width: 80px; }

.input-size-sm {
  width: 80px; }

.input-size-md {
  width: 156px; }

.input-size-lg {
  width: 350px; }

.input-size-xl {
  width: 480px; }

.input-underline, .comment-ask input {
  border: none;
  border-bottom: 1px solid #92C734; }
  .input-underline:focus, .comment-ask input:focus {
    outline: 0;
    border-color: #D7DE21; }

[type="checkbox"] {
  position: absolute;
  opacity: 0;
  visibility: hidden; }
  [type="checkbox"] + label {
    margin: 0;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    cursor: hand;
    outline: none;
    user-select: none;
    background: #fff;
    border: 1px solid #d0d0d0;
    margin-right: 5.33333px; }
    [type="checkbox"] + label::before {
      content: "\e116";
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: color, 0.5s;
      transition: color, 0.5s;
      font-family: 'icomoon';
      font-size: 1.09375em;
      color: #fff; }
  [type="checkbox"]:not(:checked):hover + label::before {
    color: #92C734; }
  [type="checkbox"]:checked + label {
    background: #92C734;
    border: none; }

[type="checkbox"] + label {
  border-radius: 3px;
  margin-right: 8px;
  width: 25px;
  height: 25px; }

legend, .foot-partner a, #menu .root, .sub-nav, .extend-btn,
.extend-toggle, .block, .img-center, .grid-intro .time em {
  display: block; }

label, output, .form-element, .comment-ask select, .comment-ask textarea, [type="checkbox"] + label, .sub-nav a, .label, figure, a.tooltip, .inline-block, .scroll-nav a, .comment-ask label, .comment-ask input, .nav-reserve .card {
  display: inline-block; }

.input-inline, .inline {
  display: inline; }

.float-l, #menu li, .top-member .head, .order-info {
  float: left; }

.float-r, .search, .top-member, .comment-self, .order-data {
  float: right; }

.wrap::after, #header::after, #footer::after, #main::after, .clearfix::after, .order-info::after {
  display: table;
  clear: both; }
  .wrap::after, #header::after, #footer::after, #main::after, .clearfix::after, .order-info::after, .logo small::before, .logo small::after, #menu .caret::before, .title-underline::after, .grid-doc .grid::before {
    content: ''; }

.sub-nav img, .circle, .top-member .head {
  border-radius: 50%; }

.full {
  width: 100%;
  max-width: 100%; }

.half {
  width: 49.5%; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.breadcrumb, .list-inline, #menu, .list-unstyled {
  list-style: none; }

.breadcrumb > li, .list-inline > li {
  display: inline-block; }
  .breadcrumb > li:not(:last-child), .list-inline > li:not(:last-child) {
    margin-right: 5px; }

/*      layout
-----------------------------------------------------------------------*/
.wrap, #main {
  max-width: 1400px;
  margin: 0 48px; }
  @media (min-width: 87.5em) {
    .wrap, #main {
      margin: 0 auto; } }
  @media (max-width: 74.9375em) {
    .wrap, #main {
      margin: 0;
      padding-left: 32px;
      padding-right: 32px; } }

.wrap, #header, #footer, #main {
  min-width: 1008px; }

#header, #footer, #main {
  position: relative; }

#wrapper {
  min-height: 100%;
  padding-bottom: 313px;
  background: #F2EEE3;
  min-width: 1008px; }

#header {
  background: #F7F7EB url(../images/headerBg.gif) 0 124px repeat-x;
  height: 174px;
  z-index: 1; }

.logo {
  cursor: pointer;
  cursor: hand;
  z-index: 10;
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  letter-spacing: 4px; }
  #header .logo {
    float: left;
    font-size: 3.125em;
    text-shadow: none;
    color: #749f29;
    margin-top: 24px;
    margin-bottom: 24px; }
  #footer .logo {
    font-size: 2.1875em;
    letter-spacing: 7px;
    width: 253px; }
  .logo small {
    display: block;
    position: relative;
    letter-spacing: 10px;
    font-size: 0.3em;
    color: #bfbfbf;
    margin-top: 0.3rem; }
    .logo small::before, .logo small::after {
      display: block;
      position: absolute;
      top: 50%;
      height: 1px;
      width: 15%;
      background: #cfcfcf; }
    .logo small::after {
      right: 5px; }
    #footer .logo small {
      font-size: 0.42857em;
      color: #D7DE21;
      letter-spacing: 7px;
      margin-top: 0.8rem; }
      #footer .logo small::after, #footer .logo small::before {
        background: #666666;
        width: 11%; }

#footer {
  background: #27343D;
  min-height: 263px;
  margin-top: -263px;
  z-index: 5;
  color: #E3E3E3;
  padding-top: 40px;
  padding-bottom: 40px; }
  #footer .title-underline {
    border-color: #666666;
    margin-bottom: 1.35rem; }
    #footer .title-underline::after {
      background: #D7DE21; }
  #footer section:not(:first-child) {
    padding-left: 24px;
    padding-right: 24px; }
  #footer section:last-child {
    padding-right: 0; }
  #footer section:first-child {
    padding-top: 20.8px; }

.copyright {
  color: #7F7F7F;
  font-size: 0.75em;
  letter-spacing: 1px;
  margin-top: 1.6rem; }

.social a {
  font-size: 2.5em;
  color: #7F7F7F; }
  .social a:first-child {
    margin-right: 10px; }

.foot-contact p {
  margin: 0 0 0.5rem; }
  .foot-contact p:first-of-type {
    letter-spacing: 3px; }
.foot-contact a {
  color: #E3E3E3; }

.foot-partner a {
  color: #D7DE21;
  margin-bottom: 0.75rem; }

.navbar {
  height: 50px; }

#menu {
  z-index: 20;
  margin-right: 15%; }
  #menu li {
    width: 10%; }
    #menu li:hover .sub-nav, #menu li:active .sub-nav {
      opacity: 1;
      visibility: visible;
      min-height: 150px; }
  #menu .caret {
    position: relative; }
    #menu .caret::before {
      display: block;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-bottom: 7px solid #fff;
      border-top-width: 5px;
      position: absolute;
      left: 50%;
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transition: opacity 0.5s, bottom 0.3s;
      transition: opacity 0.5s, bottom 0.3s;
      opacity: 0;
      bottom: -8px; }
  #menu .root {
    color: white;
    font-size: 1.0625em;
    height: 100%;
    line-height: 50px;
    letter-spacing: 1px; }
    #menu .root:hover, #menu .root:active, #menu .root.current {
      background: #92C734; }
    #menu .root:hover::before, #menu .root:active::before {
      opacity: 1;
      bottom: 0; }

.sub-nav {
  opacity: 0;
  visibility: hidden;
  background: #fff;
  height: 0;
  position: absolute;
  top: 174px;
  right: 0;
  left: 0;
  -webkit-transition: opacity 0.4s, height 0.3s;
  transition: opacity 0.4s, height 0.3s; }
  .sub-nav a {
    width: 28%;
    min-width: 290px;
    margin: 0.35rem 0;
    color: #4d4d4d;
    letter-spacing: 1px; }
    .sub-nav a::before {
      content: "．";
      display: inline; }
  .sub-nav dl {
    padding: 19.2px 54.4px; }
  .sub-nav dd {
    margin-top: 0.5rem; }
  .sub-nav img {
    width: 110px;
    height: 110px;
    text-align: center;
    line-height: 110px;
    background-color: #fff; }

.goTop, .goTop:hover, .goTop:active {
  color: #fff !important; }

.goTop {
  z-index: 99;
  position: fixed;
  right: 2%;
  bottom: 2%;
  -webkit-transition: opacity .5s, background .35s;
  transition: opacity .5s, background .35s;
  opacity: 0;
  background: rgba(69, 92, 108, 0.65);
  font-size: 23px;
  padding: 5px 10px;
  border-radius: 3px; }
  .goTop:hover, .goTop:active {
    background: #76A22E; }

.fadeIn {
  -webkit-animation: fadeIn 1s 1 forwards;
  animation: fadeIn 1s 1 forwards; }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.fadeOut {
  -webkit-animation: fadeOut 1s 1 forwards;
  animation: fadeOut 1s 1 forwards; }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
@keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
.breadcrumb {
  font-size: 1.0625em;
  color: #4d4d4d;
  line-height: 1.65;
  border-bottom: 1px solid #CACACA;
  padding-bottom: 16px;
  margin-top: 1.8rem;
  margin-bottom: 3rem; }
  .Notice .breadcrumb {
    display: none; }
  .breadcrumb li {
    vertical-align: middle; }
    .breadcrumb li:not(:last-child) {
      margin-right: 8px; }
      .breadcrumb li:not(:last-child)::after {
        content: "/";
        margin-left: 3px;
        color: #92c73c;
        font-size: 0.8125em; }
    .breadcrumb li:first-child {
      font-size: 1.1875em; }
  .breadcrumb a {
    color: #76A22E;
    font-size: 0.82353em; }
    .breadcrumb a:hover, .breadcrumb a:active {
      color: #2AA19C; }

.news-list li {
  border-radius: 10px 0 10px 0;
  box-shadow: 0 0 10px #bfbfbf;
  position: relative;
  vertical-align: top;
  width: 245px;
  height: 273px;
  margin: 0 22px 1.5rem 22px; }
.news-list header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
.news-list .block {
  margin: 0.8rem 0;
  letter-spacing: 1px; }
  .news-list .block:hover, .news-list .block:active {
    color: #e6de89; }
.news-list .label {
  margin-right: -5px; }
.news-list .btn {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 8px 30px;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 28px; }

.list-underline > li, .list-num > li {
  font-size: 1.0625em; }
.list-underline ol, .list-underline ul, .list-num ol, .list-num ul {
  margin-top: 0.35rem; }

.list-underline > li:not(:last-child) {
  border-bottom: 1px dashed #92c73c; }

.list-indent {
  padding-left: 0;
  margin-bottom: 2rem; }
  .list-indent > li {
    text-indent: -3.1875em;
    padding-left: 3.1875em;
    line-height: 1.7; }
  .list-indent ol, .list-indent ul {
    text-indent: -2em;
    margin-left: 32px; }

.list-num {
  padding-left: 28px;
  list-style-type: cjk-ideographic; }
  .list-num ol ol {
    list-style-type: lower-latin; }
  .list-num ol ol ol {
    list-style-type: initial; }

.card {
  background: #f9f9f1;
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15); }

button {
  border: none; }

.btn {
  display: inline-block;
  padding: 12px 32px;
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.01;
  background: #76A22E;
  color: #fff;
  -webkit-transition: background .35s, color .5s;
  transition: background .35s, color .5s;
  letter-spacing: 1px; }
  .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 1px solid;
    outline: 1px solid #5cd5d0;
    outline-offset: 0; }
  .btn:active, .btn.active {
    outline: 0; }
  .btn:hover, .btn:active, .btn.active, .btn:focus, .btn.focus {
    background: #1f7975;
    color: #fff; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65;
    background-color: #b0b0b0; }

.btn-white {
  background: #fff;
  color: #2AA19C;
  border: 1px solid #2AA19C; }
  .btn-white:hover, .btn-white:active {
    background: #35c9c3;
    border-color: #48cfca;
    color: #fff; }

.label {
  padding: 2px 10px;
  margin: 0 5px;
  border-radius: 3px;
  background: #afd136;
  color: #fff;
  font-size: 0.875em; }

em.label {
  font-style: normal; }

.label-primary {
  background: #76A22E; }

.label-secondary {
  background: #2AA19C; }

.label-muted {
  background: #b0b0b0; }

.label-success {
  background: #92C734; }

.label-info {
  background: #29A9E0; }

.label-warning {
  background: #D5C734; }

.label-danger {
  background: #F35B74; }

.label-gray {
  background: #b2b2b2; }

figure > a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

figcaption {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  figcaption::before, figcaption::after {
    pointer-events: none; }

figure {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  vertical-align: top;
  -webkit-transition: box-shadow 0.35s;
  transition: box-shadow 0.35s; }
  figure img {
    position: relative; }
  figure > a {
    z-index: 3;
    white-space: nowrap;
    opacity: 0; }

.search {
  z-index: 21;
  -webkit-backface-visibility: hidden;
  width: 0;
  min-width: 50px;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  height: 50px;
  position: relative; }
  .search-open {
    width: 200px; }
    .search-open .extend-input {
      padding: 0 50px 0 15px;
      font-size: 1.0625em;
      background: #238581;
      color: #d9d9d9; }

.extend-input {
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
  font-size: 0;
  -webkit-appearance: none;
  z-index: 10;
  width: 100%;
  height: 100%; }

.extend-btn,
.extend-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  line-height: 100%;
  font-size: 1.75em; }
  .extend-btn::before,
  .extend-toggle::before {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.extend-btn {
  border: none;
  opacity: 0;
  z-index: 11; }
  .extend-btn.enter {
    opacity: 1;
    background: #76A22E;
    color: white; }

.extend-toggle {
  z-index: 90;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  -webkit-transition: color .5s;
  transition: color .5s;
  background: #238581;
  color: #2AA19C; }
  .extend-toggle:hover, .extend-toggle:active {
    color: #92c73c; }

.tooltip {
  position: relative;
  cursor: pointer; }
  .tooltip::before, .tooltip::after {
    position: absolute;
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -ms-transform: translate3d(0, 0, 0), webkit moz;
    -webkit-transform: translate3d(0, 0, 0), webkit moz;
    transform: translate3d(0, 0, 0), webkit moz;
    position: absolute;
    bottom: 100%;
    left: 50%;
    pointer-events: none; }
  .tooltip:hover::before, .tooltip:hover::after, .tooltip:focus::before, .tooltip:focus::after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -ms-transform: translateY(-12px), webkit moz;
    -webkit-transform: translateY(-12px), webkit moz;
    transform: translateY(-12px), webkit moz; }
  .tooltip::before {
    z-index: 22;
    border: 6px solid transparent;
    background: transparent;
    content: ""; }
  .tooltip::after {
    z-index: 21;
    padding: 8px;
    width: 100%;
    background-color: #000;
    background-color: rgba(51, 51, 51, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    font-size: 0.9375rem;
    line-height: 1.2;
    text-align: center; }
  .tooltip::before {
    margin-left: -6px;
    margin-bottom: -12px;
    border-top-color: #000;
    border-top-color: rgba(51, 51, 51, 0.9); }
  .tooltip::after {
    left: 0; }

.clear, #menu, .comment-ask {
  clear: both; }

.img-center {
  margin: auto; }

.margin {
  margin: 16px; }

.margin-top, .grid-doc small, .comment-ask {
  margin-top: 16px; }

.margin-bottom, legend, .comment-ask textarea {
  margin-bottom: 16px; }

.margin-left {
  margin-left: 16px; }

.margin-right, .sub-nav dt, .top-member .head {
  margin-right: 16px; }

.section {
  margin-top: 16px;
  margin-bottom: 16px; }

.padding-tiny {
  padding: 2px 4px; }

.padding-sm, .comment-self .card {
  padding: 4px 8px; }

.padding, .news-list header, .news-list .block, .scroll-nav a, .order-data,
.padding-md {
  padding: 8px 16px; }

.padding-lg, .rule {
  padding: 12px 24px; }

.padding-xl {
  padding: 16px 32px; }

.padding-xxl, .btn-lg {
  padding: 24px 48px; }

.padding-jumbo {
  padding: 32px 64px; }

.padding-2 {
  padding-top: 2px;
  padding-bottom: 2px; }

.padding-4 {
  padding-top: 4px;
  padding-bottom: 4px; }

.padding-8 {
  padding-top: 8px;
  padding-bottom: 8px; }

.padding-12, .news-list header, .list-underline > li, .scroll-nav.fixed a {
  padding-top: 12px;
  padding-bottom: 12px; }

.padding-16, .btn-lg, .comment-list main {
  padding-top: 16px;
  padding-bottom: 16px; }

.padding-24, .comment-list article, .rule {
  padding-top: 24px;
  padding-bottom: 24px; }

.padding-32, .scroll-content, .nav-reserve .card {
  padding-top: 32px;
  padding-bottom: 32px; }

.padding-48, .grid-news, .grid-doc {
  padding-top: 48px;
  padding-bottom: 48px; }

.padding-64 {
  padding-top: 64px;
  padding-bottom: 64px; }

.padding-0 {
  padding: 0; }

.margin-0, .Notice #main, .grid-intro p, .comment-self dd {
  margin: 0; }

.text-left, #footer, .sub-nav, .breadcrumb, .news-list header, .news-list .block, .top-member, .editor-content, .comment-ask, .comment-list, .comment-self, .news-contend, .nav-reserve, .read, .order-data, .order-info {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center, .extend-btn,
.extend-toggle, .grid-intro figcaption, .grid-intro .time, .nav-reserve .card {
  text-align: center; }

.title-underline {
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: 0.66667rem;
  position: relative; }
  .title-underline::after {
    display: block;
    height: 2px;
    width: 20%;
    background: #92C734;
    position: absolute;
    bottom: -1px;
    left: 0; }

.title-underline-d small {
  margin-top: 13px;
  color: #b0b0b0;
  letter-spacing: 8px;
  text-transform: uppercase; }
  .title-underline-d small::before, .title-underline-d small::after {
    content: url("../images/line.gif");
    display: inline-block;
    position: relative;
    top: -4px; }
  .title-underline-d small::before {
    margin-right: 10px; }
  .title-underline-d small::after {
    margin-left: 10px; }

.font-tiny {
  font-size: 0.8125rem; }

.font-sm, .scroll-nav.fixed a, .comment-self dd {
  font-size: 0.9375rem; }

.font-md, .list-underline ol, .list-underline ul, .list-num ol, .list-num ul, .title-underline-d small, .comment-list .btn {
  font-size: 1rem; }

.font-lg, .comment-ask label, .comment-ask input, .nav-reserve .card, #order-check {
  font-size: 1.1875rem; }

.font-xl, #footer .title-underline, .editor-content .title {
  font-size: 1.5625rem; }

.font-xxl {
  font-size: 2.3125rem; }

.font-xxxl {
  font-size: 3rem; }

.font-jumbo {
  font-size: 4.0625rem; }

.text-white, #footer .title-underline, .news-list li, .news-list .block, .news-list .btn, .label-primary, .label-secondary, .label-muted, .label-success, .label-info, .label-warning, .label-danger, .top-member .icon-photo_camera:hover, .top-member .icon-photo_camera:active, .scroll-nav a:hover, .scroll-nav a:active, .scroll-nav a.active, .nav-reserve .card {
  color: #fff; }

.bg-white, .news-list .label, .news-list .btn:hover, .news-list .btn:active, .grid-intro figcaption, .grid-doc .grid, .scroll-nav a, .scroll-nav.fixed, .rule {
  background: #fff; }

.text-primary, #footer a:hover, #footer a:active, .sub-nav a:hover, .sub-nav a:active, .editor-content .title, .editor-content .sub-title, .editor-content h4, .comment-ask label, .comment-list h3 {
  color: #688e28; }

.bg-primary, .top-member .icon-photo_camera:hover, .top-member .icon-photo_camera:active, .scroll-nav a:hover, .scroll-nav a:active, .scroll-nav a.active {
  background: #76A22E; }

.text-secondary, .news-list .btn:hover, .news-list .btn:active {
  color: #258d88; }

.bg-secondary {
  background: #2AA19C; }

.text-muted, .grid-intro figure:not(:first-child):hover p, .grid-intro figure:not(:first-child):active p {
  color: #a3a3a3; }

.bg-muted {
  background: #b0b0b0; }

.text-success, .news-list .activity .label, .grid-intro figure:not(:first-child):hover h4, .grid-intro figure:not(:first-child):active h4, .grid-intro p {
  color: #83b32f; }

.bg-success, .news-list .activity, .nav-reserve .card {
  background: #92C734; }

.text-info, .news-list .info .label {
  color: #1e9bd1; }

.bg-info, .news-list .info {
  background: #29A9E0; }

.text-warning {
  color: #c6b929; }

.bg-warning {
  background: #D5C734; }

.text-danger, .news-list .public .label, .comment-self dd {
  color: #f14360; }

.bg-danger, .news-list .public, .nav-reserve .card:hover, .nav-reserve .card:active {
  background: #F35B74; }

.Notice #main {
  max-width: 100%; }
#main .title-underline-d {
  margin-bottom: 2.2rem; }

.search {
  margin-top: -66px; }

.top-member {
  width: 250px;
  margin-top: 34px; }
  .top-member .head {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: #fff;
    border: 1px solid #E3E3E3;
    overflow: hidden; }
  .top-member img {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .top-member .icon-photo_camera {
    font-size: 1.625em; }
  .top-member span {
    margin-bottom: -3px; }
  .top-member strong {
    font-weight: normal;
    color: #666; }
    .top-member strong + a {
      margin: 0 7px; }
  .top-member .icon-mode_edit::before,
  .top-member .icon-log-out::before {
    font-size: 1.125em; }

.grid-intro {
  padding-top: 75px;
  padding-bottom: 75px; }
  .grid-intro figure {
    position: relative;
    border-top: 3px solid #89bb31;
    border-radius: 3px;
    background: #92C734 url(../images/index/intro1_shadow.gif) 28px 38px no-repeat;
    width: 309px;
    margin: 0 18px; }
    .grid-intro figure:first-child {
      cursor: default; }
      .grid-intro figure:first-child h4 {
        font-size: 2.5625em;
        letter-spacing: 5px;
        margin-bottom: 5px; }
      .grid-intro figure:first-child p {
        font-size: 1.3125em; }
    .grid-intro figure:nth-child(2) {
      background-image: url(../images/index/intro2_bg.gif);
      background-position: 29px 30px; }
    .grid-intro figure:nth-child(3) {
      background-image: url(../images/index/intro3_bg.gif);
      background-position: 20px 39px; }
    .grid-intro figure:not(:first-child):hover, .grid-intro figure:not(:first-child):active {
      box-shadow: 6px 12px 15px #a6a6a6; }
  .grid-intro figcaption {
    margin-left: 118px;
    padding-top: 33.6px;
    padding-bottom: 33.6px; }
  .grid-intro h4 {
    margin-bottom: 8px;
    -webkit-transition: color, 0.5s;
    transition: color, 0.5s; }
  .grid-intro .time {
    position: absolute;
    top: 38px;
    left: 27px;
    color: #B3236D;
    font-size: 0.75em;
    background: url(../images/index/icon-date.gif) center center no-repeat;
    width: 65px;
    height: 68px; }
    .grid-intro .time em {
      font-size: 3.16667em;
      font-weight: bold;
      font-style: normal;
      line-height: 1.05;
      color: #434659; }

.grid-news h1 {
  margin-bottom: 2.2rem; }

.carousel {
  max-width: 1060px; }
  .carousel .swiper-wrapper {
    margin-bottom: 2.2rem; }
  .carousel .swiper-slide {
    margin: 0; }

.prev, .next {
  position: absolute;
  top: 41%;
  left: 50%;
  font-size: 2em;
  color: #E4E4E4;
  cursor: pointer;
  z-index: 3; }

.prev {
  margin-left: -582px; }

.next {
  margin-left: 550px; }

.swiper-button-disabled {
  display: none; }

.grid-doc h2 {
  margin-bottom: 2rem; }
.grid-doc nav {
  width: 1008px;
  margin: auto; }
.grid-doc .grid {
  margin-top: 3px;
  margin-bottom: 3px;
  width: 330px;
  height: 197px;
  height: 197px;
  -webkit-transition: background 0.2s, box-shadow 0.3s;
  transition: background 0.2s, box-shadow 0.3s; }
  .grid-doc .grid::nth-child(2n+1) {
    margin: 3px 6px; }
  .grid-doc .grid::before {
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  .grid-doc .grid h3 {
    letter-spacing: 3px; }
    .grid-doc .grid h3 {
      display: inline-block;
      vertical-align: middle; }
  .grid-doc .grid:hover, .grid-doc .grid:active {
    background: #f8f6dd;
    box-shadow: 6px 12px 15px #a6a6a6;
    position: relative;
    z-index: 2; }
.grid-doc small {
  color: #404040;
  letter-spacing: 1px; }

.scroll-nav {
  margin: 2rem 0; }
  .scroll-nav a {
    font-size: 1.0625em;
    margin: 1px; }
  .scroll-nav.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15); }
    .scroll-nav.fixed a {
      margin: 0;
      margin-right: -4px; }
      .scroll-nav.fixed a:not(:last-child) {
        border-right: 1px solid #eee; }

.scroll-content {
  counter-increment: num; }
  .scroll-content .title::before {
    content: counter(num,cjk-ideographic) "、"; }

.editor-content .sub-title, .editor-content h4 {
  margin-bottom: 1.5rem; }
.editor-content .sub-title {
  margin-top: 2.2rem; }
.editor-content h5 {
  margin-top: 1rem;
  margin-bottom: 0.5rem; }
.editor-content p {
  margin-top: 1.2rem;
  margin-bottom: 2.2rem; }

.comment-ask label, .comment-ask input, .comment-ask select {
  vertical-align: middle; }
.comment-ask input, .comment-ask select {
  width: 71%; }
.comment-ask label {
  width: 20%;
  margin-right: 8px; }
.comment-ask .btn {
  margin-top: 1.5rem; }
.comment-ask .row {
  margin: 0.6rem 0; }

.comment-list, .comment-self {
  margin-bottom: 2.2rem; }

.comment-list {
  width: 73%; }
  .comment-list article {
    border-bottom: 1px dashed #92c73c; }
  .comment-list h3 {
    font-size: 1.6875em;
    line-height: 1.35;
    margin-top: 0.6rem;
    margin-bottom: 0.35rem; }
  .comment-list time {
    color: #bbb; }
  .comment-list main {
    margin-bottom: 0.5rem; }

.comment-self {
  width: 24%; }
  .comment-self footer {
    margin-top: 2rem; }
  .comment-self .btn.active {
    background: #b0b0b0; }
  .comment-self dt {
    line-height: 1.3;
    margin-bottom: 3px; }

.news-contend {
  margin-bottom: 2.2rem; }
  .news-contend header {
    margin-top: 0.2rem;
    margin-bottom: 0.7rem; }

.nav-reserve {
  margin-top: 2rem; }
  .nav-reserve .card {
    letter-spacing: 3px;
    width: 23%;
    margin: .45% .85%; }

.read {
  width: 80%;
  margin: auto; }
  .read p {
    margin-top: 1.5rem;
    margin-bottom: 2.2rem; }

.rule {
  height: 290px; }
  .rule > ol {
    margin-bottom: 0; }

.order-data {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 32%; }

.order-info {
  width: 65%;
  padding-bottom: 20.8px; }
  .order-info:not(:first-of-type) {
    border-top: 1px dashed #92C734;
    padding-top: 20.8px; }
  .order-info img {
    max-width: 200px;
    max-height: 130px; }

#order-check {
  padding-top: 35px !important;
  padding-bottom: 48px !important;
  color: #222; }
  #order-check p {
    margin: 0.5rem 0; }
