@charset "UTF-8";


// import
// ------------------------------------------------------------
@import "_client/color";
@import "_client/settings";

@import "helper/function";
@import "helper/variables";
@import "helper/mixins";

@import "base/basic";
@import "base/table";
@import "base/util";
@import "base/grid";

@import "_client/unit/list";
@import "_client/unit/tooltip";
@import "_client/unit/classes";


body {
    padding: 10px 15px;
    @extend .text-left;
}

.title,
.sub-title,
h4 { @extend .text-primary; }

.title { @extend .font-xl; }

.sub-title,
h4 { margin-bottom: $spacer*1.5; }

.sub-title { margin-top: $spacer*2.2; }

h5 {
    margin-top: $spacer;
    margin-bottom: $spacer/2;
}
p {
    margin-top: $spacer*1.2;
    margin-bottom: $spacer*2.2;
}
