@charset "UTF-8";

$page: true;


// import
// ------------------------------------------------------------
@import "_client/color";
@import "_client/settings";

@import "helper/function";
@import "helper/variables";
@import "helper/mixins";

@import "vendor/normalize";

@import "base/basic";
@import "base/table";
@import "base/util";
@import "base/grid";

@import "_client/unit/list";
@import "_client/unit/tooltip";
@import "_client/unit/classes";


body {
    @extend .text-left;
    padding: 10px 15px;
    background: #F2EEE3;
}

.sub-title, h4 {
    @extend .text-primary;
    margin-bottom: $spacer*1.5;
}

.sub-title { margin-top: $spacer*2.2; }

h5 {
    margin-top: $spacer;
    margin-bottom: $spacer/2;
}

ol, ul { margin-left: 10px; }

table { width: 85%; }