@charset "UTF-8";

// 本頁專用變數(覆蓋)
// ------------------------------------------------------------
$index:           true;
$img-index:       '../images/index';

$wrapper-bg:      url(#{$img-index}/bg.jpg) no-repeat center 0;
$logo-pos:        left 0 top 255px;

$headings-color:  #fff;

$input-bg:        #fff;


// import
// ------------------------------------------------------------
// 本次專案專用變數
@import "_client/color";
@import "_client/settings";

// 共用
@import "helper/function";
@import "helper/variables";
@import "helper/mixins";

// 由此 output css
@import "vendor/normalize"; // 重置復位
@import "vendor/print";     // 列印樣式

@import "base/basic";
@import "base/form";
@import "base/util";

// 本頁專用
@import "_client/layout";
@import "_client/unit/goTop";
@import "_client/unit/list";
@import "_client/unit/btn";
@import "_client/unit/input-group";
@import "_client/unit/classes";


// main
// ------------------------------------------------------------
// == header

// login畫面
.login {
    border-top: 3px solid $info;
    border-radius: nth($border-radius,1);
    box-shadow: 2px 2px 8px rgba($black,.2);
    position: relative;
    top: 185px;
    width: 54.5%;

    main {
        border-bottom-right-radius: nth($border-radius,1);
        border-bottom-left-radius: nth($border-radius,1);
        background: rgba($white,.6);
        padding: 42px;
    }
    .input-group {
        margin-bottom: $spacer*1.36;
    }
    .input-group-addon {
        font-size: em(20);
    }
    .btn { margin-bottom: $spacer*1.2; }
    .text-right {
        a {
            @extend .text-info;

            &:hover, &:active {
                color: $brand-primary;
            }
        }
    }
}

// 住戶登入 總幹事登入
.tabs {
    @extend %clearfix;
    background: rgba(#ececec, .7);
    border-bottom: 1px solid rgba(black,.06);
}
.js-tab {
    display: block;
    float: left;
    padding: 20px 42px 13px;
    font-size: em(20);
    color: #656565;

    &.active {
        color: darken($info,10);
        background: rgba(#fff, .25);
        position: relative;
        bottom: -1px;
        border-bottom: 1px solid #E9E9E1;
        border-right: 1px solid rgba(black,.06);

        &:not(:first-child) {
            border-left: 1px solid rgba(black,.06);
        }
    }
}

// HOME Email 按鈕
.top-nav {
    @include absolute(right 0 top 12px);
    background: url(#{$img-path}/top-navBg.gif) right 0 no-repeat;
    line-height: 30px;

    a {
        @extend .text-white;

        font-size: em(23);
        z-index: z(logo) + 1;

        &:not(:first-child) { margin-left: 12px; }
        &:hover, &:active { color: $brand-primary }
    }
}

// Welcome
.slogan {
    @extend .text-right;
    font-size: em(52);
    color: $white;
    letter-spacing: 2px;
    @include absolute(left 125px top 198px);
}

// 社區簡介
.intro {
    @extend %list-unstyled;
    @extend .text-left;
    @extend .text-white;

    @include absolute(left 0 top 378px);
    font-size: em(19);
    letter-spacing: 1px;

    li { margin: 9px 0; }
}


// == content
.info, .about {
    background-image: url(#{$img-index}/contentBg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.info {
    @extend %list-inline;
    background-color: rgba(#1D2A2A,.75);
    // background: rgba(#1D2A2A,.75) url(#{$img-index}/contentBg.png) 0 0 no-repeat;
}
.about {
    background-color: $brand-primary;
}