@charset "UTF-8";

// 本頁專用變數(覆蓋)
// ------------------------------------------------------------
$page:                          true;

// form
$enable-input-underline:        true;
$input-underline-color:         #92C734 #D7DE21;

// figure
$figure-inline:                 true;

// import
// ------------------------------------------------------------
// 本次專案專用變數
@import "_client/color";
@import "_client/settings";

// 共用
@import "helper/function";
@import "helper/variables";
@import "helper/mixins";

// 由此 output css
@import "vendor/normalize"; // 重置復位
@import "vendor/print";     // 列印樣式

@import "base/basic";
@import "base/table";
@import "base/form";
@import "base/util";

// 本頁專用
@import "_client/layout";
@import "_client/unit/nav";
@import "_client/unit/goTop";
@import "_client/unit/breadcrumb";
@import "_client/unit/list";
@import "_client/unit/card";
@import "_client/unit/btn";
@import "_client/unit/label";
@import "_client/unit/figure";
@import "_client/unit/input-expand";
@import "_client/unit/tooltip";
@import "_client/unit/classes";


// main
// ------------------------------------------------------------
#main {
    @extend %center;

    .Notice & {
        @extend .margin-0;
        max-width: 100%;
    }
    .title-underline-d {
        margin-bottom: $spacer*2.2;
    }
}

// top 搜尋欄
.search {
    @extend .float-r;
    margin-top: -66px;
}

// 住戶資料
.top-member {
    @extend %float-r, .text-left;

    width: 250px;
    margin-top: 34px;

    // 頭像
    .head {
        @extend %float-l, .margin-right;
        @include circle(60px, center, #fff);
        border: 1px solid #E3E3E3;
        overflow: hidden;
    }

    // 有頭像
    img { @include pos-center; }

    // 無頭像
    .icon-photo_camera {
        font-size: em(26);

        &:hover, &:active {
            @extend .text-white, .bg-primary;
            // color: #fff;
            // background: $brand-primary;
        }
    }

    // 住戶編號
    span { margin-bottom: -3px; }

    // 住戶名稱
    strong {
        font-weight: normal;
        color: #666;

        + a { margin: 0 7px; }
    }

    .icon-mode_edit,
    .icon-log-out {
        &::before { font-size: em(18); }
    }
}



// == Notice - 住戶登入後首頁
.grid-intro {
    padding-top: 75px;
    padding-bottom: 75px;

    figure {
        position: relative;
        border-top: 3px solid darken($success,3);
        border-radius: 3px;
        background: $success url(#{$img-path}/index/intro1_shadow.gif) 28px 38px no-repeat;
        width: 309px;
        margin: 0 18px;

        &:first-child {
            cursor: default;

            h4 {
                font-size: em(41);
                letter-spacing: 5px;
                margin-bottom: 5px;
            }
            p { font-size: em(21); }
        }
        &:nth-child(2) {
            background-image: url(#{$img-path}/index/intro2_bg.gif);
            background-position: 29px 30px;
        }
        &:nth-child(3) {
            background-image: url(#{$img-path}/index/intro3_bg.gif);
            background-position: 20px 39px;
        }
        &:not(:first-child) {
            &:hover, &:active {
                box-shadow: 6px 12px 15px lighten(black,65);
                h4 { @extend .text-success; } //color: $success;
                p { @extend .text-muted; } // color: $muted;
            }
        }
    }
    figcaption {
        @extend .text-center, .bg-white;
        margin-left: 118px;
        padding-top: $gutter*2.1;
        padding-bottom: $gutter*2.1;
    }
    h4 {
        margin-bottom: 8px;
        @include transition(color,.5s);
    }
    p { @extend .text-success, .margin-0; }

    .time {
        @extend .text-center;
        @include absolute(left 27px top 38px);

        color: #B3236D;
        font-size: em(12);
        background: url(#{$img-path}/index/icon-date.gif) center center no-repeat;
        width: 65px;
        height: 68px;

        em {
            @extend %block;
            // display: block;
            font-size: em(38,12);
            font-weight: bold;
            font-style: normal;
            line-height: 1.05;
            color: #434659;
        }
    }
}

.grid-news,
.grid-doc {
    @extend .padding-48;
}

// 最新消息
.grid-news {
    h1 { margin-bottom: $spacer*2.2; }
}
.carousel {
    max-width: 1060px;
    .swiper-wrapper { margin-bottom: $spacer*2.2; }
    .swiper-slide { margin: 0; }
}
.prev, .next {
    @include absolute(top 41% left 50%);
    font-size: em(32);
    color: #E4E4E4;
    cursor: pointer;
    z-index: 3;
}
.prev { margin-left: -582px; }
.next { margin-left: 550px; }
.swiper-button-disabled { display: none; }


// 近期更新文件
.grid-doc {
    h2 { margin-bottom: $spacer*2; }
    nav {
        width: 1008px;
        margin: auto;
    }
    .grid {
        $mg:     3px;
        $height: 197px;
        $num:    3;

        @extend .bg-white;
        margin-top: $mg;
        margin-bottom: $mg;
        width: (1008px/$num) - ($mg * ($num - 1));
        height: $height;

        &::nth-child(2n+1) { margin: $mg ($mg * ($num - 1)); }

        @include middle(h3, $height) {
            letter-spacing: 3px;
        }
        @include transition(background .2s, box-shadow .3s);

        &:hover, &:active {
            background: lighten($warning,40);
            box-shadow: 6px 12px 15px lighten(black,65);
            position: relative;
            z-index: 2;
        }
    }
    small {
        @extend .margin-top;
        color: #404040;
        letter-spacing: 1px;
    }
}

// == menu item 內的樣式
// 內頁子選單(資產管理等)
.scroll-nav {
    margin: $spacer*2 0;
    a {
        @extend %inline-block, .bg-white, .padding;
        font-size: em(17);
        margin: 1px;

        &:hover, &:active, &.active { @extend .bg-primary, .text-white; }
    }

    // 卷動到頂端時固定位置
    &.fixed {
        @extend .bg-white;
        @include fixed(left 0 top 0 right 0);
        margin: 0;
        box-shadow: 0 3px 10px rgba(black,.15);

        a {
            @extend .padding-12, .font-sm;
            margin: 0;
            margin-right: -4px;

            &:not(:last-child) {
                border-right: 1px solid #eee;
            }
        }
    }
}
// 內頁跳轉內容
.scroll-content {
    @extend .padding-32;
    counter-increment: num;

    .title::before {
        content: counter(num, cjk-ideographic) "、";
    }
}

// 編輯器內容的共用樣式
.editor-content {
    @extend .text-left;

    .title, .sub-title, h4 { @extend .text-primary; }
    .title { @extend .font-xl; }
    .sub-title, h4 { margin-bottom: $spacer*1.5; }
    .sub-title { margin-top: $spacer*2.2; }
    h5 { margin-top: $spacer; margin-bottom: $spacer/2; }
    p {
        margin-top: $spacer*1.2;
        margin-bottom: $spacer*2.2;
    }
}

// == 留言板
.comment {
    @extend .text-left;

    label, input, select {
        @extend %inline-block;
        vertical-align: middle;
    }
    input, select { width: 71%; }
    select, textarea { @extend .form-element; }
    label {
        @extend .form-element-label, .text-primary, .font-lg;
        width: 20%;
        margin-right: $gutter*.5;
    }
    input { @extend .input-underline, .font-lg; }
    textarea { @extend .margin-bottom; }
    .btn { margin-top: $spacer*1.5; }
    .row { margin: $spacer*.6 0; }
}