
$selector: '.zoom-anim-dialog';

@import "_client/color";
@import "_client/settings";

@import "helper/function";
@import "helper/variables";
@import "helper/mixins";

@import "vendor/magnific-popup/_main";


.dialog {
    background: white;
    padding: 20px 30px 30px;
    text-align: left;
    width: 75%;
    max-width: 980px;
    margin: 40px auto;
    position: relative;
}

.my-mfp-slide-bottom {

    #{$selector} {
        opacity: 0;

        @include prefix(transition, all 0.2s ease-out);
        @include prefix(transform, translateY(-20px) perspective(600px) rotateX(10deg));
    }
    // in
    &.mfp-ready #{$selector} {
        opacity: 1;
        @include prefix(transform, translateY(0) perspective(600px) rotateX(0));
    }

    // out
    &.mfp-removing #{$selector} {
        opacity: 0;
        @include prefix(transform, translateY(-10px) perspective(600px) rotateX(10deg));
    }
    //
    &.mfp-bg {
        opacity: 0;
        @include prefix(transition, opacity 0.3s ease-out);
    }
    // animate in
    &.mfp-ready.mfp-bg { opacity: 0.8; }
    // animate out
    &.mfp-removing.mfp-bg { opacity: 0; }
}
