
@{
    ViewBag.Title = "組織管理";
    ViewBag.BodyClass = "Group";
    ViewBag.breadCrumb = "管理組織型態與編制";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/Group">組織管理</a></li>
}

<h1 class="title-underline-d">
    @ViewBag.breadCrumb
    <small class="block">2016/8/25</small>@* 最後更新日期 *@
</h1>

<p class="text-left">德鄉建設為本案大園區西園段集合住宅新建工程的開發商，於大樓成立管委會並招開住戶(區分所有權人)大會前對本大樓具有其管理權，待成立管委會後大樓內部的公設管理、設施維運等事務及社區議題統合、採購等庶務處理即轉移至管委會手中。(<a href="~/Content/images/temp2.gif" target="new">如圖</a>)</p>
@* <br>
<img src="~/Content/images/temp2.gif" alt="管委會組織系統圖" class="img-center">*@
<br>
<article class="text-left margin-top">
    <h4 class="text-primary text-center">社區管理委員會組織章程</h4>
    <h5 class="margin-0">第一章 總則</h5>
    <ol class="list-indent list-unstyled list-underline">
        <li>第一條 宗旨：本章程係受（以下簡稱本社區）全體區分所有權人所付託，旨在發揮自治功能，以達成提升住戶環境品質之整潔與安全之維護，公同共有權之保障而制定。<br>名稱：社區管理委員會（以下簡稱本委員會）
        </li>
        <li>第二條 依據：本章程依據「公寓大廈管理條例」暨本社區住戶規約而訂定。</li>
    </ol>
    <h5 class="margin-0">第二章 組織</h5>
    <ol class="list-indent list-unstyled list-underline">
        <li>第三條 組織體系
            <ol class="list-unstyled">
                <li>一、本委員會為本社區全權管理業務之執行機構，共設委員七人，以每座住戶電梯為一選舉分區，選任委員一名。</li>
                <li>二、委員於任職期間如有重大過失時，經該分區三分之一以上住戶及連署召開該分區之住戶會議，即可罷免並通知管委會。委員未請假或無故連續正式委員會議缺席三次，得經委員會議通過正式免其資格，由該分區補選之。</li>
                <li>三、本委員會得設置接收小組及消防緊急救難編組，其成員由委員及社區熱心人士組成之。</li>
            </ol>
        </li>
        <li>第四條 管理委員會組織與委員職掌管理委員會組織與委員職掌本委員會設主任委員一人，第一副主任委員一人，財務委員二人，監督委員二人及各事務委員二十人，由全體委員互相推舉選任。<br>
            本委員會下設若干事務小組為本委員會之各項業務主管單位，完成管委會各項業務之推動。本委員會各事務小組及委員職掌由委員會另訂之。<br>
            本委員會可另聘專業人士為顧問，以備效益之提升（例如；法律顧問等）。
        </li>
        <li>第五條 管理委員會之職掌
            <ol class="list-unstyled">
                <li>一、公有及公用部分之清潔、維護、修繕及一般改良。</li>
                <li>二、住戶違反『公寓大廈管理條例』第六條第一項規定於「維護、修繕專有部分、約定專有部分或行使其權利時，不得妨害其他住戶之安寧、安全及衛生」時之協調。</li>
                <li>三、住戶共同事務應興革事項之建議。</li>
                <li>四、住戶違規情事之制止及相關資料之提供。</li>
                <li>五、公寓大廈及其周圍之安全及環境維護事項。</li>
                <li>六、收益、公共基金及其他經費之支出、保管及運用。</li>
                <li>七、區分所有權人會議決議事項之執行。</li>
                <li>八、規約、會議紀錄、使用執照之謄本、竣工圖說及有關文件之保管。</li>
                <li>九、管理服務人之委任、僱傭及監督。</li>
                <li>十、會計報告、結算報告及其他管理事項之提出及公告。</li>
                <li>十一、其他規約所訂事項。</li>
            </ol>
        </li>
        <li>第六條 管理委員會會議之召開<br>
            定期常會每月一次，臨時會議則依需要召開，各住戶代表可列席委員會議並陳述意見，但無表決權，定期常會召開時，應於五日前以書面通知，會議之決議以過半數委員之出席，出席人數較多數之同意行之。
        </li>
        <li>第七條 委員出缺及改選
            <ol class="list-unstyled">
                <li>一、主任委員出缺席時，由副主任委員依序代理，主任委員與副主任委員出缺時，由各委員就在職委員中推舉選任副主任委員代行主任委員職務，代理期間以三十天為限，並應於限期內召開委員會議，推舉新主任委員；委員出缺時，由主任委員召集該分區住戶召開住戶會議，補選缺額委員遞補。遞補缺額達三分之一時，得召開臨時大會，補選缺額委員。</li>
                <li>二、遇有主任委員、副主任委員及財務委員不能勝任職務時，經全體委員達二分之ㄧ連署，得改選之。</li>
            </ol>
        </li>
        <li>第八條 委員任期（依九十四年十月九日召開之區分所有權人會議決議，增訂第二、三條文）
            <ol class="list-unstyled">
                <li>一、本委員會以一年為一屆，均為無薪給榮譽職。委員連選得連任乙次，主任委員、副主任委員及財務委員均不得連任。</li>
                <li>二、如區分所有權人已擔任超過兩屆（含兩屆）委員，無論是連任或非連任者，至其最後一次擔任委員任期屆滿日起，七年內不得再出任委員。</li>
                <li>三、如該棟無足夠符合本條例第二款資格之區分所有權人出任該棟委員時，且經該棟三分之一以上區分所有權人連署同意時，區分所有權人得不受本條例第二款資格之限制出任該棟委員。</li>
            </ol>
        </li>
    </ol>
    <h5 class="margin-0">第三章 管理與服務</h5>
    <ol class="list-indent list-unstyled list-underline">
        <li>第九條 由本委員會於主任委員下雇用專業或委託在政府立案，服務績優之管理公司，依本社區區分所有權人會議所通過之各項管理章程及規約，並在本管委會指揮下執行。</li>
    </ol>
    <h5 class="margin-0">第四章 經費</h5>
    <ol class="list-indent list-unstyled list-underline">
        <li>第十條  管理經費之收入支出另訂「社區財務收支管理辦法」規範之。</li>
        <li>第十一條 管理經費之運用
            <ol class="list-unstyled">
                <li>一、支付本委員會雇用人員之薪資、獎金及津貼等。</li>
                <li>二、支付本委員會委託之管理服務公司所需各項服務費用。</li>
                <li>三、增加或維修公共設施所需費用。</li>
                <li>四、臨時追加服務項目之服務費。</li>
                <li>五、意外損壞之檢修費用。</li>
                <li>六、公共場所消耗品及材料儲備補充等費用。</li>
                <li>七、公共水電費。</li>
                <li>八、其他公用事務之支出。</li>
            </ol>
        </li>
        <li>第十二條 管理費之收支公佈處理另訂「社區財務收支管理辦法」規範之。</li>
        <li>第十三條 欠繳管理費之處理辦法另訂「社區管理費催繳作業流程」。</li>
    </ol>
    <h5 class="margin-0">第五章 附則</h5>
    <ol class="list-indent list-unstyled list-underline">
        <li>第十四條 委員候選人資格
            <ol class="list-unstyled">
                <li>一、以每座住戶電梯為一被選單位，限居住於本社區內之區分所有權人或配偶或直系血親得為候選人，且不得兼任其他分區之委員。</li>
                <li>二、候選人應為滿二十歲具有事務處理能力之人，且符合社區規約之候選條件者。</li>
                <li>三、經候選人自薦或其他住戶推薦（但須當事人同意）。</li>
                <li>四、主任委員、副主任委員、監督委員、財務委員，得由區分所有權人及其配偶任之。</li>
                <li>五、本身有違建者不得競選委員，如經主管機關認定其違建者，則其委員資格取消。</li>
            </ol>
        </li>
        <li>第十五條 本社區管理委員會自律公約
            <ol class="list-unstyled">
                <li>一、本社區管理委員會之委員需經過半數以上之區分所有權人出席會議推選擔任無給榮譽職。</li>
                <li>二、委員應各盡職責為維護本社區之權益貢獻心力。</li>
                <li>三、委員應準時出席管理委員會常會，如因故不能出席者，應事先向主任委員或副主任委員請假，並應委託分區之其他委員出席。委員三次無故缺席會議者視同解職，管理委員會得公告除名另依上述選舉辦法改選之。</li>
                <li>四、委員應秉公處理各項事務，不得利用職權圖利，徇私或怠忽職責，如經發現並查證屬實者，應立即除去其委員職位，並追償其因此而造成本社區所遭受之一切損失。</li>
            </ol>
        </li>
        <li>第十六條 本章程於生效實施之同時，連同本委員會及管理負責人名冊，報請政府有關單位備案，並公告本社區住戶周知（修訂與人員變更時亦同）。</li>
        <li>第十七條 本社區住戶如將房屋出售或出租，須將本章程及規約列為契約之條件，以利管理工作之推行。</li>
    </ol>
</article>