
@{
    ViewBag.Title = "組織管理";
    ViewBag.BodyClass = "Group";
    ViewBag.breadCrumb = "組織管理";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {

}

<h1 class="title-underline-d">
    @ViewBag.breadCrumb
    <small class="block">Organization Management</small>
</h1>