
@{
    ViewBag.Title = "住戶資料";
    ViewBag.BodyClass = "Member";
    ViewBag.breadCrumb = "住戶資料";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1 class="title-underline-d">
    @ViewBag.breadCrumb
    <small class="block">Households</small>
</h1>

<article class="text-left row">

    <dl class="list-data">
        <dt>住戶戶號</dt>
        <dd>@ViewBag.r_no</dd>
    </dl>

    <dl class="list-data">
        <dt>戶主姓名</dt>
        <dd>@ViewBag.r_name</dd>
    </dl>

    <dl class="list-data">
        <dt>戶主性別</dt>
        <dd>男</dd>
    </dl>

    <dl class="list-data">
        <dt>聯絡電話</dt>
        <dd>0000-000-000</dd>
    </dl>

    <dl class="list-data">
        <dt>E-mail</dt>
        <dd>未登記</dd>
    </dl>

    <br class="clear">

    <dl class="list-data">
        <dt>登入帳號</dt>
        <dd>abc</dd>
    </dl>

    <dl class="list-data">
        <dt>登入密碼</dt>
        <dd>123456</dd>
    </dl>

</article>

<div class="text-left margin-top">
    <a href="~/Login/Logout" class="btn btn-lg icon-log-out">登出</a>
</div>
