@{
	ViewBag.Title = "首頁";
    ViewBag.IsFirstPage = true;
    ViewBag.BodyClass = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section css {
	<link href="~/Content/css/vendor/animate.css" rel="stylesheet">
}

<h1 class="sr-only">@ViewBag.Title</h1>

<div class="wrap">

	<div id="banner">
		<img class="bg" src="~/Content/images/Index/banner1.jpg">
		<p class="slogan1">
			<span class="sr-only">幸福阿珍</span>
			<img class="slogan1-1 animated fadeInLeft" src="~/Content/images/Index/slogan1-1.svg" alt="">
			<img class="slogan1-2 animated fadeInDown" src="~/Content/images/Index/slogan1-2.svg" alt="">
			<img class="slogan1-3 animated fadeInUp" src="~/Content/images/Index/slogan1-3.svg" alt="">
			<img class="slogan1-4 animated fadeInRight" src="~/Content/images/Index/slogan1-4.svg" alt="">
		</p>
		<p class="slogan2 animated bounceIn">
			<i class="text">加入我們共創幸福！</i>
			<img class="cloud2" src="~/Content/images/Index/cloud2.svg" alt="">
			<img class="balloon" src="~/Content/images/Index/balloon.svg" alt="">
		</p>
		<img class="cloud" src="~/Content/images/Index/cloud.svg" alt="">
	</div>

	<section class="intro">
		<h2 class="h2">We Spread Happiness</h2>
		<p>Happiness Agent is a co-sharing platform. We expected to create an environment that makes communities cooperate with each other. Lets make our lives better together. Come and join us!</p>
	</section>

</div>

<div id="content">
	<div class="wrap">
		
		<div class="grid-house row">
			<section class="sell col-xs-6">
				<h2 class="h3">
					<a href="~/Sell/List">
						<span>優質好宅出售</span>
						<small>Achievement of your happiness is the only moral purpose of your life, and that happiness, not pain or mindless self-indulgence, is the proof of your moral integrity, since it is the proof and the result of your loyalty to the achievement of your values.</small>
					</a>
				</h2>
			</section>
			<section class="rent col-xs-6">
				<h2 class="h3">
					<a href="~/Rent/List">
						<span>精選房屋出租</span>
						<small>Achievement of your happiness is the only moral purpose of your life, and that happiness, not pain or mindless self-indulgence, is the proof of your moral integrity, since it is the proof and the result of your loyalty to the achievement of your values.</small>
					</a>
				</h2>
			</section>
		</div>

		<section class="grid-about row">
			<h2 class="sr-only">幸福阿珍 Happiness Agent</h2>
			<div class="about-info col-xs-6">
				<h3 class="h3">ABOUT US</h3>
				<h3 class="h4">幸福阿珍 (Happiness Agent) 幸福代理人</h3>
				<h4 class="h5">開創專屬自我的確幸經濟</h4>
				<p>你想成為網路銷售達人嗎？卻又不知從何處著手？加入幸福阿珍百業促銷互聯網，你(妳)將會改變屬於你自己的未來。</p>
				<p><a href="~/AboutUs" class="more"><i class="icon-angle-double-right"></i> 了解更多 READ MORE</a></p>
			</div>
			<div id="contact-info" class="contact-info col-xs-6">
				<h3 class="h3">CONTACT</h3>
				<ul class="list-unstyled">
					<li><i class="icon-phone"></i><span class="sr-only">電話</span>03-3180692</li>
					<li><i class="icon-fax"></i><span class="sr-only">傳真</span>03-3180693</li>
					<li><i class="icon-mail"></i><span class="sr-only">E-mail</span><a href="mailto:ahagentcom@gmail.com">ahagentcom@gmail.com</a></li>
				</ul>
			</div>
		</section>

	</div>
</div>