@{
    ViewBag.Title = "WELCOME";
    ViewBag.IsFirstPage = true;
    ViewBag.BodyClass = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section includeHeader {
    <h1 class="logo" onclick="location.href='@Url.Content("~/index")'" title="回首頁" tabindex="-1">
        @Resources.Res.System_FrontName
        <small>智慧住宅管理平台</small>
    </h1>

    <h2 class="slogan font-sp">WELCOME</h2>

    <ul class="intro">
        <li>坪數規劃：24.00 ~ 56.00 坪</li>
        <li>總戶數：147 戶</li>
        <li>屋齡：約 1 年</li>
        <li>建設公司：鄉德建設</li>
    </ul>

    <nav class="top-nav">
        <a href="" class="icon-home" title="HOME"></a>
        <a href="" class="icon-markunread" title="E-mail"></a>
    </nav>

    <div class="login float-r">
        <nav class="tabs">
            <a href="#tab-1" class="js-tab">住戶登入</a>
            <a href="#tab-2" class="js-tab">總幹事登入</a>
        </nav>

        <main>
            <form action="" id="tab-1" class="tab-content">
                <div class="input-group">
                    <label class="input-group-addon icon-person" for="" data-title="帳號"></label>
                    <input class="form-element" type="text"  id="m_act" required  placeholder="請輸入帳號">
                </div>
                <div class="input-group">
                    <label class="input-group-addon icon-lock2" for="" data-title="密碼"></label>
                    <input class="form-element" type="password" id="m_pwd" required placeholder="請輸入密碼">
                </div>

                <div id="Validate" class="margin-bottom"></div>

                @* <button class="btn full bg-info" type="submit">登入</button> *@
                @*  暫放，實際用上列button *@
                <a href="~/Index/Notice" class="btn full bg-info">登入</a>

                <p class="text-right margin-0">
                    <a href="" class="margin-right">註冊</a>
                    <a href="">忘記密碼?</a>
                </p>
            </form>

            <form action="" id="tab-2" class="tab-content">
                <div class="input-group">
                    <label class="input-group-addon icon-person" for="" data-title="帳號"></label>
                    <input class="form-element" type="text"  id="m_act" required  placeholder="請輸入帳號">
                </div>
                <div class="input-group">
                    <label class="input-group-addon icon-lock2" for="" data-title="密碼"></label>
                    <input class="form-element" type="password" id="m_pwd" required placeholder="請輸入密碼">
                </div>

                <div id="Validate" class="margin-bottom"></div>

                @* 登入到管理者後台 *@
                @* <button class="btn full bg-info" type="submit">登入</button> *@
                @* 暫放，實際用上列button *@
                <a href="" class="btn full bg-info">登入</a>

                <p class="text-right margin-0">
                    <a href="">忘記密碼?</a>
                </p>
            </form>
        </main>
    </div><!-- login //-->
}

<ul class="info">
    <li>社區</li>
    <li>家庭</li>
    <li>管理系統</li>
    <li>社群</li>
</ul>

<section class="about">
    <h2 class="font-sp">ABOUT US</h2>
    <h6>揚庭保全成立於民國85年。洋庭物業管理成立於民國87年。</h6>
    <div class="wrap">
        <article class="card">
            <h3>堅持的理念</h3>
            <p>本公司秉持著服務自家產業之專業素養與以人為本之最大精神來服務客戶。</p>
        </article>

        <article class="card">
            <h3>專業的團隊</h3>
            <p>企業化的社區經營管理、現代化的管家、科技化的維安、全方位的物管,持續性的理念堅持,我們深信在我們服務團隊有你的加入更增添公司的實力,更是揚庭的榮耀,我們將要共同塑造全新的保全及物業管理。</p>
        </article>
    </div>
</section>