
@{
    ViewBag.Title = "Notice";
    ViewBag.BodyClass = "Notice";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@* @section Scripts {
    <script>
        var Today = new Date();
        var Year = Today.getFullYear();
        var Month = Today.getMonth()+1;
        var Day = Today.getDate();

        $('.time').text(function(){
            return year + '/' + Month + '<em>' + Day + '</em>';
        });
    </script>
} *@

<section class="grid-intro">
    <figure>
        <span class="time font-sp">
            <script>
                var Today=new Date();
                document.write(Today.getFullYear() + "/" + (Today.getMonth()+1) + "<em>" + Today.getDate() + "</em>");
            </script>
        </span>
        <figcaption class="text-center bg-white">
            <h4 class="text-info font-xxl">1500</h4>
            <p class="font-lg">社區總人數</p>
        </figcaption>
    </figure>

    <figure>
        <a href="~/AboutUs"></a>
        <figcaption class="text-center bg-white">
            <h4 class="text-info font-xxl">社區介紹</h4>
            <p class="font-lg font-sp">INTRODUCTION</p>
        </figcaption>
    </figure>

    <figure>
        <a href="~/Assets"></a>
        <figcaption class="text-center bg-white">
            <h4 class="text-info font-xxl">社區資產</h4>
            <p class="font-lg font-sp">ASSETS</p>
        </figcaption>
    </figure>
</section>

<section class="grid-news bg-white">
    <h2 class="title-underline-d font-xxl">
        社區最新消息
        <small>LATEST NEWS</small>
    </h2>
    <ul class="news-list list-inline">
        <li class="activity">
            <header>
                2016 / 6 / 18
                <span class="label">活動</span>
            </header>
            @* 最多 42 個字，超過加... *@
            <p>社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息社區活動訊息...</p>

            <a href="" class="btn btn-white font-sp">MORE</a>
        </li>
    </ul>
</section>

<section class="grid-doc">
    <h3>近期更新文件</h3>
    <nav>
        <a class="col-1-3">
            <h3>效能管理<small>預期使用機能需求評估與規劃說明</small></h3>
        </a>
        <a class="col-1-3">
            <h3>組織管理<small>人事管理制度</small></h3>
        </a>
        <a class="col-1-3">
            <h3>維運管理<small>各項設施設備管理維護規範</small></h3>
        </a>
        <a class="col-1-3">
            <h3>資產管理<small>設施使用動態管理說明</small></h3>
        </a>
        <a class="col-1-3">
            <h3>維運管理<small>緊急應變計畫</small></h3>
        </a>
        <a class="col-1-3">
            <h3>長期修繕<small>長期修繕財務措計畫</small></h3>
        </a>
    </nav>
</section>