
@{
    ViewBag.Title = "資產管理";
    ViewBag.BodyClass = "Assets";
    ViewBag.breadCrumb = "資產管理";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {

}

<h1 class="title-underline-d">
    @ViewBag.breadCrumb
    <small class="block">Asset management</small>
</h1>