@charset "UTF-8";


// xs Extra small screen  ---------> 480以下
// sm Small screen ----------------> 767以下
// md Medium screen ---------------> 980+
// lg Large screen ----------------> 1200+
// xl Extra large screen ----------> 1400+
$grid-breakpoints: (
    sm: break(tablet,-1),
    xs: phone,
    md: desktop,
    lg: wide,
    xl: wider
) !default;


// output
// ------------------------------------------------------------
.row {
    @extend %clearfix;
    & + & { margin-top: $spacer/2; }
}

%float-l { float: left; }

// 12格 通用(全螢幕) - 靠左
@for $i from 1 through $grid-columns {
    .col-#{$i} {
        @extend %float-l;
        @include make-col($i, $grid-columns, $gutter);
    }
}

@include make-grid-columns();

.col-first { padding-left: 0; }
.col-last  { padding-right: 0; }
.col-rest  { overflow: hidden; }

.grid {
    display: inline-block;
    vertical-align: top;
}