@charset "UTF-8";


// xs Extra small screen  ---------> 480以下
// sm Small screen ----------------> 767以下
// md Medium screen ---------------> 980+
// lg Large screen ----------------> 1200+
// xl Extra large screen ----------> 1400+
$grid-breakpoints: (
    sm: break(tablet,-1),
    xs: phone,
    md: desktop,
    lg: wide,
    xl: wider
) !default;

// 預設格數
$columns: $grid-columns;

@mixin make-col($seclector) {
    @for $i from 1 through $columns {
        .col-#{$seclector}-#{$i} {
            @include make-col-span($i, $columns);
        }
    }
    @each $modifier in (pull, push, offset) {
        @for $i from 0 through ($columns - 1) {
            .#{$modifier}-#{$seclector}-#{$i} {
                @include make-col-modifier($modifier, $i, $columns)
            }
        }
    }
}


// output
// ------------------------------------------------------------
.row, .row-pad {
    @extend %clearfix;

    & + & { margin-top: $spacer/2; }
}

// 置中等比例(1/5)
@include make-col-ratio(3);
@include make-col-ratio(5);


// 12格 通用(全螢幕) - 靠左
@for $i from 1 through $columns {

    @each $breakpoint, $value in $grid-breakpoints {
        $selector: '.col-#{$i}', '.col-#{$breakpoint}-#{$i}';

        #{$selector} { @include cols-reset; }
    }
    .col-#{$i} { @include make-col-span($i, $columns); }
}

.row-pad [class*=col]:first-child,
.col-first { padding-left: 0; }

.row-pad [class*=col]:last-child,
.col-last { padding-right: 0; }


// RWD
@each $breakpoint, $value in $grid-breakpoints {

    @if $breakpoint == 'xs' or $breakpoint == 'sm' {
        @include mq-max($value) {
            @include make-col($breakpoint);
        }
    }
    @else {
        @include mq($value) {
            @include make-col($breakpoint);
        }
    }
}

.col-rest {
    overflow: hidden;
}