
@{
    ViewBag.Title = "操作說明";
    ViewBag.BodyClass = "Explain";
    ViewBag.breadCrumb = "操作說明";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {

}

<h1 class="title-underline-d">
    @ViewBag.breadCrumb
    <small class="block">Download</small>
</h1>

<a href="~/Content/download/德鄉社區系統操作手冊-用戶端.doc" target="new" class="font-xl">德鄉幸福社區操作說明手冊 檔案下載 V1.1 <i class="icon-inbox margin-left"></i></a>