
@{
    ViewBag.Title = "操作說明";
    ViewBag.BodyClass = "Explain";
    ViewBag.breadCrumb = "操作說明";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {

}

<h1 class="title-underline-d">
    @ViewBag.breadCrumb
    <small class="block">Instructions</small>
</h1>