@model ProcCore.Business.DB0.Facility
@{
    ViewBag.Title = "公設預約";
    ViewBag.BodyClass = "Service";
    ViewBag.breadCrumb = Model.name + "預約";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@* 卷軸特效 *@
@section css {
    <link rel="stylesheet" href="~/Content/css/vendor/jquery.mCustomScrollbar.css">
}
@section Scripts {
    <script src="~/Content/js/jquery.mCustomScrollbar.min.js"></script>
    <script>
        $(".rule").mCustomScrollbar({
            theme: "minimal-dark",
            autoHideScrollbar: true
        });
        $("#ckb").change(function () {
            $("#ckbt").prop("disabled", !$(this).prop("checked"));
        });
    </script>
}

@section breadCrumb {
    <li><a href="~/Servcie">公設預約</a></li>
}

<h1 class="title-underline-d">
    @ViewBag.breadCrumb
    <small class="block">@DateTime.Now.ToString("yyyy/MM/dd")</small>
</h1>

<section class="read">
    <article class="rule">
        @if (Model.role_content != null)
        {
            @Html.Raw(Model.role_content)
        }
    </article>
    <form action="~/Service/Order">
        <p class="font-lg text-primary">
            <input type="hidden" name="id" value="@Model.facility_id">
            <input type="checkbox" id="ckb" checked required>
            <label for="ckb"></label>同意以上條款？
        </p>

        @* 預設為同意，若不同意則不能連結 如下
            <a class="btn disabled">我要預約</a> *@

        <button type="submit" class="btn btn-lg" id="ckbt">我要預約</button>
    </form>
</section>

