
@{
    ViewBag.Title = "長期修繕";
    ViewBag.BodyClass = "Explain";
    ViewBag.breadCrumb = "長期修繕";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {

}

<h1 class="title-underline-d">
    @ViewBag.breadCrumb
    <small class="block">Long-term repairs</small>
</h1>