
@{
    ViewBag.Title = "維運管理";
    ViewBag.BodyClass = "Management";
    ViewBag.breadCrumb = "維運管理";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {

}

<h1 class="title-underline-d">
    @ViewBag.breadCrumb
    <small class="block">Maintenance and operation management</small>
</h1>