<div class="dialog zoom-anim-dialog">
    <h4 class="text-primary">公設該如何預約呢？公設該如何預約呢？公設該如何預約呢？公設該如何預約呢？公設該如何預約呢？公設該如何預約呢？</h4>
    <article>
        公設預設問題回覆公設預設問題回覆公設預設問題回覆公設預設問題回覆公設預設問題回覆公設預設問題回覆公設預設問題回覆公設預設問題回覆公設預設問題回覆公設預設問題回覆公設預設問題回覆公設預設問題回覆公設預設問題回覆公設預設問題回覆公設預設問題回覆公設預設問題回覆公設預設問題回覆公設預設問題回覆公設預設問題回覆公設預設問題回覆公設預設問題回覆...
    </article>
</div><!-- dialog -->