@model ProcCore.Business.DB0.MsgBoard
<div class="dialog zoom-anim-dialog">
    <h4 class="text-primary">@Model.q_content</h4>
    @if (Model.a_content != null)
    {
        <article>
            @Html.Raw(Model.a_content)
        </article>
    }
</div><!-- dialog -->