@charset "UTF-8";


// == config
// ----------------------------------------------------------------------
$img-path:              '../images' !default;
$font-path:             '../font' !default;
$index:                 false !default;           // 首頁用
$page:                  false !default;           // 內頁用


// == helper/variables
// ----------------------------------------------------------------------
$body-bg:               #F6F6EA;
$body-color:            lighten(black,35);

$font-family-sp:        'Quicksand', sans-serif;
// $link-transition:       all .35s;

$font-size-h1:          42px;
$font-size-h4:          25px;
$headings-color:        #2DADA8;


// == layout
// ----------------------------------------------------------------------
$min-width:             1008px;     // 網頁最小尺寸
$max-width:             1400px;     // 網頁最寬尺寸: .wrap
$menu-item:             'News' 'AboutUs' 'Assets' 'Efficacy' 'Group' 'Management' 'Fix' 'Comments' 'Explain' 'Service';

$wrapper-bg:            #F2EEE3 !default;
$content-spacing:       50px !default;

// line
$line:                  4px solid $brand-primary;

// header
$header-height:         174px !default;
$header-bg:             #F7F7EB url(#{$img-path}/headerBg.gif) 0 124px repeat-x !default;
$banner-height:         $header-height !default;

// logo
$logo-img:              false !default;
$logo-size:             false !default;
$logo-pos:              false !default;

// footer
$footer-height:         263px !default;
$footer-bg:             #27343D !default;
$footer-color:          #E3E3E3 !default; //#63889D;

// z-index
$z-index: (
    header:             1,
    main:               2,
    footer:             5,
    sidebar:            4,
    banner:             3,
    logo:               10,
    menu:               20,
    figure:             3,
    dropdown:           21,
    tooltip:            22,
    modal:              23,
    toggle:             25,
    goTop:              99,
    overlay:            999
);


// == unit
// ----------------------------------------------------------------------
// goTop
$goTop-color:                  #fff;
$goTop-styles: (
    opacity: 0,
    background: rgba(lighten($footer-bg, 15),.65),
    font-size: 23px,
    padding: 5px 10px,
    border-radius: 3px
);
$goTop-hover-styles: (
    background: $brand-primary
);

// btn
$btn-border-radius:             3px;
$btn-pd:                        12px 40px;
$btn-hover-bg:                  $brand-secondary;

// input-group
$input-group-addon-color:       #B0B0B0;
$input-group-addon-bg:          #ECECEC;

// card
$card-bg:                         rgba(white,.45);
$card-radius:                     1px;
$card-border:                     1px solid #FEF8CC;
$card-shadow:                     false;

// figure
$figure-effect:                   box-shadow .35s;

// label
$label-pd:                        2px 10px;

// slide
$swiper-button:                   true;

// == base
// ----------------------------------------------------------------------
// table
// $table-border-color:           #B1CFDD;
// $table-align:                  false;
$table-pd:                     8px;
// $table-bg-accent:              lighten(#CAE4EF,5); // darken($muted,3)
$table-bg-hover:               #fff;
$table-bordered:               1px solid lighten($light-green,5);
$table-styled: (
    min-width: 60%,
    margin: auto
);
$th-styled: (
   color: $white, // darken($brand-primary,10)
   background: desaturate($brand-secondary,10)
);
// $td-styled: (
//     background: lighten(#EBEBEB,5)
// );
// $tfoot-styled:(
//     background: $pale-yellow
// );
// $td-item-styled: (
//     text-align: center,
//     background: lighten(#B3E9F5,10)
// );

// form
$input-border-color:            #DFDFDF;

$form-element-bg:               false !default;
$form-element-height:           38px !default;
$input-border-focus:            $brand-secondary;
